archive/release-v5.5/flows/deployed/MediaPlanningAgentv52/Workflows/MPAGenerateDocument-76280A60-A6E9-F011-8543-000D3A3320E6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_sharedcommondataserviceforapps_1d3b7"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "18d51ca7-b4cf-4011-bdb4-ab1e3ea2ba19"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "plan_id": {
                  "type": "string",
                  "description": "GUID of the media plan"
                },
                "version_id": {
                  "type": "string",
                  "description": "GUID of the plan version"
                },
                "document_type": {
                  "type": "string",
                  "description": "Type: Summary, Full, Executive"
                },
                "format": {
                  "type": "string",
                  "description": "Format: JSON, Markdown, HTML"
                }
              },
              "required": [
                "plan_id",
                "version_id"
              ]
            },
            "triggerAuthenticationType": "Tenant"
          }
        }
      },
      "actions": {
        "GetPlanDetails": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e00740be-fa84-4c18-aae4-886129efdd22"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_mediaplan",
              "recordId": "@triggerBody()['plan_id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "GetVersionDetails": {
          "runAfter": {
            "GetPlanDetails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cdc7d921-f65d-4674-8cb5-d57379011630"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_planversion",
              "recordId": "@triggerBody()['version_id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "GetAllSections": {
          "runAfter": {
            "GetVersionDetails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "464feab7-c08a-43f4-a0cc-9ac516277737"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_plandata",
              "$filter": "_mpa_planversionid_value eq '@{triggerBody()?['version_id']}'",
              "$orderby": "mpa_stepnumber asc",
              "$top": 20
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "BuildDocument": {
          "runAfter": {
            "GetAllSections": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c7a5a191-8fc7-4c17-a176-52678157cf82"
          },
          "type": "Compose",
          "inputs": {
            "document_metadata": {
              "plan_id": "@{triggerBody()?['plan_id']}",
              "plan_code": "@{outputs('GetPlanDetails')?['body/mpa_plancode']}",
              "plan_name": "@{outputs('GetPlanDetails')?['body/mpa_planname']}",
              "version_id": "@{triggerBody()?['version_id']}",
              "version_code": "@{outputs('GetVersionDetails')?['body/mpa_versioncode']}",
              "generated_at": "@{utcNow()}",
              "document_type": "@{coalesce(triggerBody()?['document_type'], 'Full')}"
            },
            "plan_overview": {
              "total_budget": "@outputs('GetPlanDetails')?['body/mpa_totalbudget']",
              "start_date": "@{outputs('GetPlanDetails')?['body/mpa_startdate']}",
              "end_date": "@{outputs('GetPlanDetails')?['body/mpa_enddate']}",
              "status": "@outputs('GetPlanDetails')?['body/mpa_status']"
            },
            "sections": "@outputs('GetAllSections')?['body/value']"
          }
        },
        "SuccessResponse": {
          "runAfter": {
            "BuildDocument": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "355f371d-67c9-4367-8fd1-0766a7d430ca"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": {
              "status": "Success",
              "document": "@outputs('BuildDocument')",
              "section_count": "@length(outputs('GetAllSections')?['body/value'])",
              "message": "Document generated successfully"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}