release/v7.0/platform/flows/solution-ready/MPADevelopStrategy-B58A063D-BBCA-431F-B37B-EAC6A9E37971.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_sharedcommondataserviceforapps_1d3b7"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "c4809a39-25c7-4368-bde5-a95c538aa8c6"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "required": [
                "session_id",
                "request_id",
                "objectives"
              ],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "objectives": {
                  "type": "object",
                  "properties": {
                    "primary": {
                      "type": "string",
                      "enum": [
                        "awareness",
                        "consideration",
                        "conversion",
                        "retention",
                        "advocacy"
                      ]
                    },
                    "secondary": {
                      "type": "string"
                    },
                    "kpis": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "audience": {
                  "type": "object",
                  "properties": {
                    "target_segments": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "demographics": {
                      "type": "object"
                    },
                    "psychographics": {
                      "type": "object"
                    }
                  }
                },
                "budget": {
                  "type": "number",
                  "description": "Campaign budget"
                },
                "timeline": {
                  "type": "object",
                  "properties": {
                    "start_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "end_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "duration_weeks": {
                      "type": "integer"
                    }
                  }
                },
                "brand_context": {
                  "type": "object",
                  "properties": {
                    "brand_name": {
                      "type": "string"
                    },
                    "industry": {
                      "type": "string"
                    },
                    "positioning": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "triggerAuthenticationType": "Tenant"
          }
        }
      },
      "actions": {
        "parse_input": {
          "type": "Compose",
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "objectives": "@triggerBody()?['objectives']",
            "audience": "@triggerBody()?['audience']",
            "budget": "@triggerBody()?['budget']",
            "timeline": "@triggerBody()?['timeline']",
            "brand_context": "@triggerBody()?['brand_context']",
            "start_time": "@utcNow()"
          },
          "metadata": {
            "operationMetadataId": "7e375e32-225e-4f83-a67c-b3f9679aa841"
          },
          "runAfter": {}
        },
        "define_framework": {
          "type": "Compose",
          "inputs": {
            "strategy_approach": {
              "objective_alignment": {
                "primary_objective": "@outputs('parse_input')?['objectives']?['primary']",
                "funnel_stage": "consideration",
                "key_outcome": "Increase qualified leads and brand preference"
              },
              "strategic_pillars": [
                {
                  "pillar": "Audience Understanding",
                  "description": "Deep insight into target audience needs and behaviors",
                  "importance": "critical"
                },
                {
                  "pillar": "Value Proposition",
                  "description": "Clear articulation of unique value",
                  "importance": "critical"
                },
                {
                  "pillar": "Channel Excellence",
                  "description": "Right message in right place at right time",
                  "importance": "high"
                },
                {
                  "pillar": "Measurement Rigor",
                  "description": "Data-driven optimization and accountability",
                  "importance": "high"
                }
              ]
            },
            "campaign_positioning": {
              "big_idea": "Empowering success through innovative solutions",
              "key_message": "Transform your business with proven expertise",
              "tone": "confident, approachable, expert",
              "differentiation": "Unique combination of technology and human insight"
            }
          },
          "metadata": {
            "operationMetadataId": "2f714ef8-62fe-404a-b3e7-6363f33868a9"
          },
          "runAfter": {
            "parse_input": [
              "Succeeded"
            ]
          }
        },
        "develop_channels": {
          "type": "Compose",
          "inputs": {
            "channel_recommendations": {
              "primary_channels": [
                {
                  "channel": "Paid Search",
                  "role": "Capture demand, drive conversions",
                  "budget_allocation": 30,
                  "rationale": "High intent audience, measurable ROI",
                  "tactics": [
                    "Brand keywords protection",
                    "Non-brand category targeting",
                    "Competitor conquesting"
                  ],
                  "kpis": [
                    {
                      "metric": "CTR",
                      "target": 4.5
                    },
                    {
                      "metric": "CPA",
                      "target": 75
                    }
                  ]
                },
                {
                  "channel": "Paid Social",
                  "role": "Build awareness, drive consideration",
                  "budget_allocation": 25,
                  "rationale": "Reach and targeting precision",
                  "platforms": [
                    {
                      "name": "LinkedIn",
                      "allocation": 60,
                      "use_case": "B2B targeting, thought leadership"
                    },
                    {
                      "name": "Meta",
                      "allocation": 40,
                      "use_case": "Broad reach, retargeting"
                    }
                  ],
                  "kpis": [
                    {
                      "metric": "CPM",
                      "target": 15
                    },
                    {
                      "metric": "Engagement Rate",
                      "target": 2.5
                    }
                  ]
                },
                {
                  "channel": "Content Marketing",
                  "role": "Educate, build authority",
                  "budget_allocation": 15,
                  "rationale": "Long-term value, SEO benefits",
                  "content_types": [
                    "Thought leadership articles",
                    "Case studies",
                    "Webinars",
                    "Infographics"
                  ]
                }
              ],
              "secondary_channels": [
                {
                  "channel": "Display/Programmatic",
                  "role": "Retargeting, awareness",
                  "budget_allocation": 15
                },
                {
                  "channel": "Email Marketing",
                  "role": "Nurture, conversion",
                  "budget_allocation": 10
                },
                {
                  "channel": "PR/Earned Media",
                  "role": "Credibility, amplification",
                  "budget_allocation": 5
                }
              ]
            },
            "channel_integration": {
              "customer_journey_mapping": {
                "awareness": {
                  "channels": [
                    "Paid Social",
                    "Display",
                    "Content"
                  ],
                  "messaging": "Introduce brand and value proposition"
                },
                "consideration": {
                  "channels": [
                    "Paid Search",
                    "Content",
                    "Email"
                  ],
                  "messaging": "Demonstrate expertise and differentiation"
                },
                "decision": {
                  "channels": [
                    "Paid Search",
                    "Email",
                    "Retargeting"
                  ],
                  "messaging": "Drive action with compelling offers"
                }
              },
              "cross_channel_tactics": [
                "Unified audience targeting across platforms",
                "Sequential messaging through funnel",
                "Attribution-based budget optimization"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "13138786-8aae-420f-a470-c30cc49c014c"
          },
          "runAfter": {
            "define_framework": [
              "Succeeded"
            ]
          }
        },
        "build_messaging": {
          "type": "Compose",
          "inputs": {
            "messaging_hierarchy": {
              "brand_promise": "Delivering success through innovation",
              "value_proposition": "The only solution that combines cutting-edge technology with proven expertise",
              "key_messages": [
                {
                  "message": "Transform your business",
                  "audience_relevance": "Decision makers seeking growth",
                  "proof_points": [
                    "500+ successful implementations",
                    "95% customer satisfaction"
                  ]
                },
                {
                  "message": "Expert guidance at every step",
                  "audience_relevance": "Risk-averse buyers",
                  "proof_points": [
                    "Dedicated success team",
                    "24/7 support"
                  ]
                },
                {
                  "message": "Results you can measure",
                  "audience_relevance": "ROI-focused stakeholders",
                  "proof_points": [
                    "Average 3x ROI",
                    "Transparent reporting"
                  ]
                }
              ],
              "call_to_action": {
                "primary": "Schedule a consultation",
                "secondary": "Download the guide",
                "tertiary": "Watch the demo"
              }
            },
            "content_themes": [
              {
                "theme": "Industry Leadership",
                "content_ideas": [
                  "State of the industry report",
                  "Expert interviews",
                  "Trend analysis"
                ]
              },
              {
                "theme": "Customer Success",
                "content_ideas": [
                  "Case studies",
                  "Testimonials",
                  "ROI calculators"
                ]
              },
              {
                "theme": "Product Excellence",
                "content_ideas": [
                  "Feature deep-dives",
                  "Comparison guides",
                  "Demo videos"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "7c058b57-cc87-47f4-b58a-a300b4cafb07"
          },
          "runAfter": {
            "develop_channels": [
              "Succeeded"
            ]
          }
        },
        "define_measurement": {
          "type": "Compose",
          "inputs": {
            "measurement_approach": {
              "primary_kpis": [
                {
                  "kpi": "Marketing Qualified Leads (MQLs)",
                  "target": 500,
                  "measurement": "CRM tracking",
                  "frequency": "Weekly"
                },
                {
                  "kpi": "Cost Per Lead (CPL)",
                  "target": 150,
                  "measurement": "Platform + CRM",
                  "frequency": "Weekly"
                },
                {
                  "kpi": "Marketing Sourced Pipeline",
                  "target": 2500000,
                  "measurement": "CRM attribution",
                  "frequency": "Monthly"
                }
              ],
              "secondary_kpis": [
                {
                  "kpi": "Brand Awareness Lift",
                  "target": 15,
                  "measurement": "Brand study"
                },
                {
                  "kpi": "Website Traffic",
                  "target": 50000,
                  "measurement": "Analytics"
                },
                {
                  "kpi": "Engagement Rate",
                  "target": 3,
                  "measurement": "Platform analytics"
                }
              ],
              "attribution_model": {
                "model": "Data-driven attribution",
                "lookback_window": 90,
                "touchpoints_tracked": [
                  "First touch",
                  "Lead creation",
                  "Opportunity creation"
                ]
              },
              "reporting_cadence": [
                {
                  "frequency": "Weekly",
                  "content": "Performance dashboard, optimization recommendations"
                },
                {
                  "frequency": "Monthly",
                  "content": "Full funnel analysis, budget recommendations"
                },
                {
                  "frequency": "Quarterly",
                  "content": "Strategic review, benchmark comparison"
                }
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "0eea7291-665b-4d77-ac70-ead010c00d12"
          },
          "runAfter": {
            "build_messaging": [
              "Succeeded"
            ]
          }
        },
        "create_roadmap": {
          "type": "Compose",
          "inputs": {
            "campaign_phases": [
              {
                "phase": "Launch",
                "duration_weeks": 4,
                "focus": "Awareness and reach building",
                "key_activities": [
                  "Campaign creative launch",
                  "Paid media activation",
                  "Content publishing"
                ],
                "success_criteria": [
                  "Reach target audience",
                  "Establish baseline metrics"
                ]
              },
              {
                "phase": "Optimize",
                "duration_weeks": 8,
                "focus": "Performance optimization",
                "key_activities": [
                  "A/B testing",
                  "Audience refinement",
                  "Budget reallocation"
                ],
                "success_criteria": [
                  "Improve key metrics 15%+",
                  "Identify top performers"
                ]
              },
              {
                "phase": "Scale",
                "duration_weeks": 4,
                "focus": "Maximize impact",
                "key_activities": [
                  "Scale winning tactics",
                  "Expand reach",
                  "Drive conversions"
                ],
                "success_criteria": [
                  "Achieve campaign targets",
                  "Maximize ROI"
                ]
              }
            ],
            "budget_phasing": {
              "launch": 20,
              "optimize": 50,
              "scale": 30
            },
            "risk_mitigation": [
              {
                "risk": "Underperformance",
                "mitigation": "Weekly optimization reviews, 20% holdback for reallocation"
              },
              {
                "risk": "Competitive response",
                "mitigation": "Monitor competitive activity, maintain message differentiation"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "bf2150d9-c3d9-4951-af43-5bd704b69e61"
          },
          "runAfter": {
            "define_measurement": [
              "Succeeded"
            ]
          }
        },
        "build_response": {
          "type": "Compose",
          "inputs": {
            "request_id": "@outputs('parse_input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "MKT",
            "status": "success",
            "data": {
              "campaign_context": {
                "objectives": "@outputs('parse_input')?['objectives']",
                "budget": "@outputs('parse_input')?['budget']",
                "timeline": "@outputs('parse_input')?['timeline']"
              },
              "strategy_framework": "@outputs('define_framework')?['strategy_approach']",
              "campaign_positioning": "@outputs('define_framework')?['campaign_positioning']",
              "channel_strategy": "@outputs('develop_channels')?['channel_recommendations']",
              "channel_integration": "@outputs('develop_channels')?['channel_integration']",
              "messaging_framework": "@outputs('build_messaging')?['messaging_hierarchy']",
              "content_themes": "@outputs('build_messaging')?['content_themes']",
              "measurement_framework": "@outputs('define_measurement')?['measurement_approach']",
              "execution_roadmap": "@outputs('create_roadmap')?['campaign_phases']",
              "budget_phasing": "@outputs('create_roadmap')?['budget_phasing']"
            },
            "confidence": "HIGH",
            "sources": [
              "AGENT_KB",
              "CAMPAIGN_STRATEGY",
              "BEST_PRACTICES"
            ],
            "recommendations": [
              "Finalize creative brief before campaign launch",
              "Ensure tracking infrastructure is in place",
              "Schedule weekly optimization reviews"
            ],
            "follow_up_questions": [
              "Would you like me to create a creative brief?",
              "Should we conduct competitive analysis?",
              "Do you want detailed channel activation plans?"
            ],
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('parse_input')?['start_time'])), 10000)"
            }
          },
          "metadata": {
            "operationMetadataId": "3b2ba2e1-dbd0-4a1f-b42f-cd750a6eee18"
          },
          "runAfter": {
            "create_roadmap": [
              "Succeeded"
            ]
          }
        },
        "return_response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@outputs('build_response')",
            "headers": {
              "Content-Type": "application/json"
            }
          },
          "metadata": {
            "operationMetadataId": "2dcd67c5-34cc-4d89-afa4-e55027c45ade"
          },
          "runAfter": {}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}