release/v7.0/platform/flows/solution-ready/MPALookupBenchmarks-008E68B3-52F5-4547-B6D5-C32BF39FDA6B.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_sharedcommondataserviceforapps_1d3b7"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "9dee3398-133e-4e9b-93fa-1692ca054075"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "required": [
                "session_id",
                "request_id",
                "channels"
              ],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Channel IDs to look up benchmarks for"
                },
                "industry": {
                  "type": "string",
                  "description": "Industry vertical for contextualized benchmarks"
                },
                "metrics": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Specific metrics to retrieve",
                  "default": [
                    "cpm",
                    "ctr",
                    "cpc",
                    "conversion_rate",
                    "roas"
                  ]
                },
                "market": {
                  "type": "string",
                  "description": "Geographic market",
                  "default": "US"
                },
                "campaign_type": {
                  "type": "string",
                  "enum": [
                    "awareness",
                    "consideration",
                    "conversion",
                    "retention"
                  ]
                }
              }
            },
            "triggerAuthenticationType": "Tenant"
          }
        }
      },
      "actions": {
        "parse_input": {
          "type": "Compose",
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "channels": "@triggerBody()?['channels']",
            "industry": "@coalesce(triggerBody()?['industry'], 'general')",
            "metrics": "@coalesce(triggerBody()?['metrics'], createArray('cpm', 'ctr', 'cpc', 'conversion_rate', 'roas'))",
            "market": "@coalesce(triggerBody()?['market'], 'US')",
            "campaign_type": "@triggerBody()?['campaign_type']",
            "start_time": "@utcNow()"
          },
          "metadata": {
            "operationMetadataId": "1fb78448-a38e-41d6-8354-b4f853e042fa"
          },
          "runAfter": {}
        },
        "load_benchmarks": {
          "type": "Compose",
          "inputs": {
            "benchmark_data": {
              "meta_facebook": {
                "channel_name": "Meta (Facebook/Instagram)",
                "metrics": {
                  "cpm": {
                    "value": 12.5,
                    "percentile_25": 8.0,
                    "percentile_50": 12.5,
                    "percentile_75": 18.0,
                    "percentile_90": 28.0
                  },
                  "ctr": {
                    "value": 0.9,
                    "percentile_25": 0.5,
                    "percentile_50": 0.9,
                    "percentile_75": 1.4,
                    "percentile_90": 2.1
                  },
                  "cpc": {
                    "value": 1.38,
                    "percentile_25": 0.8,
                    "percentile_50": 1.38,
                    "percentile_75": 2.2,
                    "percentile_90": 3.5
                  },
                  "conversion_rate": {
                    "value": 2.5,
                    "percentile_25": 1.2,
                    "percentile_50": 2.5,
                    "percentile_75": 4.0,
                    "percentile_90": 6.5
                  },
                  "roas": {
                    "value": 3.8,
                    "percentile_25": 2.0,
                    "percentile_50": 3.8,
                    "percentile_75": 6.0,
                    "percentile_90": 10.0
                  }
                },
                "source": "Meta Business Suite Benchmarks 2026"
              },
              "google_search": {
                "channel_name": "Google Search",
                "metrics": {
                  "cpm": {
                    "value": 38.0,
                    "percentile_25": 22.0,
                    "percentile_50": 38.0,
                    "percentile_75": 55.0,
                    "percentile_90": 85.0
                  },
                  "ctr": {
                    "value": 3.5,
                    "percentile_25": 1.8,
                    "percentile_50": 3.5,
                    "percentile_75": 5.5,
                    "percentile_90": 8.0
                  },
                  "cpc": {
                    "value": 2.69,
                    "percentile_25": 1.2,
                    "percentile_50": 2.69,
                    "percentile_75": 4.5,
                    "percentile_90": 8.0
                  },
                  "conversion_rate": {
                    "value": 4.4,
                    "percentile_25": 2.0,
                    "percentile_50": 4.4,
                    "percentile_75": 7.0,
                    "percentile_90": 12.0
                  },
                  "roas": {
                    "value": 5.5,
                    "percentile_25": 2.5,
                    "percentile_50": 5.5,
                    "percentile_75": 9.0,
                    "percentile_90": 15.0
                  }
                },
                "source": "Google Ads Benchmark Report 2026"
              },
              "google_display": {
                "channel_name": "Google Display Network",
                "metrics": {
                  "cpm": {
                    "value": 3.5,
                    "percentile_25": 1.5,
                    "percentile_50": 3.5,
                    "percentile_75": 6.0,
                    "percentile_90": 12.0
                  },
                  "ctr": {
                    "value": 0.35,
                    "percentile_25": 0.15,
                    "percentile_50": 0.35,
                    "percentile_75": 0.6,
                    "percentile_90": 1.0
                  },
                  "cpc": {
                    "value": 0.75,
                    "percentile_25": 0.35,
                    "percentile_50": 0.75,
                    "percentile_75": 1.4,
                    "percentile_90": 2.5
                  },
                  "conversion_rate": {
                    "value": 0.8,
                    "percentile_25": 0.3,
                    "percentile_50": 0.8,
                    "percentile_75": 1.5,
                    "percentile_90": 3.0
                  },
                  "roas": {
                    "value": 2.2,
                    "percentile_25": 1.0,
                    "percentile_50": 2.2,
                    "percentile_75": 4.0,
                    "percentile_90": 7.0
                  }
                },
                "source": "Google Ads Benchmark Report 2026"
              },
              "youtube": {
                "channel_name": "YouTube",
                "metrics": {
                  "cpm": {
                    "value": 9.5,
                    "percentile_25": 5.0,
                    "percentile_50": 9.5,
                    "percentile_75": 16.0,
                    "percentile_90": 28.0
                  },
                  "ctr": {
                    "value": 0.65,
                    "percentile_25": 0.3,
                    "percentile_50": 0.65,
                    "percentile_75": 1.1,
                    "percentile_90": 2.0
                  },
                  "cpv": {
                    "value": 0.08,
                    "percentile_25": 0.03,
                    "percentile_50": 0.08,
                    "percentile_75": 0.15,
                    "percentile_90": 0.25
                  },
                  "view_rate": {
                    "value": 31.0,
                    "percentile_25": 18.0,
                    "percentile_50": 31.0,
                    "percentile_75": 45.0,
                    "percentile_90": 60.0
                  }
                },
                "source": "YouTube Ads Benchmarks 2026"
              },
              "tiktok": {
                "channel_name": "TikTok",
                "metrics": {
                  "cpm": {
                    "value": 10.0,
                    "percentile_25": 5.5,
                    "percentile_50": 10.0,
                    "percentile_75": 16.0,
                    "percentile_90": 25.0
                  },
                  "ctr": {
                    "value": 1.2,
                    "percentile_25": 0.6,
                    "percentile_50": 1.2,
                    "percentile_75": 2.0,
                    "percentile_90": 3.5
                  },
                  "cpc": {
                    "value": 0.83,
                    "percentile_25": 0.4,
                    "percentile_50": 0.83,
                    "percentile_75": 1.5,
                    "percentile_90": 2.8
                  },
                  "conversion_rate": {
                    "value": 1.8,
                    "percentile_25": 0.8,
                    "percentile_50": 1.8,
                    "percentile_75": 3.2,
                    "percentile_90": 5.5
                  }
                },
                "source": "TikTok For Business Benchmarks 2026"
              },
              "programmatic_display": {
                "channel_name": "Programmatic Display",
                "metrics": {
                  "cpm": {
                    "value": 4.2,
                    "percentile_25": 2.0,
                    "percentile_50": 4.2,
                    "percentile_75": 7.5,
                    "percentile_90": 14.0
                  },
                  "ctr": {
                    "value": 0.1,
                    "percentile_25": 0.05,
                    "percentile_50": 0.1,
                    "percentile_75": 0.18,
                    "percentile_90": 0.35
                  },
                  "viewability": {
                    "value": 68.0,
                    "percentile_25": 55.0,
                    "percentile_50": 68.0,
                    "percentile_75": 78.0,
                    "percentile_90": 88.0
                  }
                },
                "source": "IAB Programmatic Benchmark Report 2026"
              },
              "ctv": {
                "channel_name": "Connected TV",
                "metrics": {
                  "cpm": {
                    "value": 32.0,
                    "percentile_25": 18.0,
                    "percentile_50": 32.0,
                    "percentile_75": 48.0,
                    "percentile_90": 75.0
                  },
                  "completion_rate": {
                    "value": 95.0,
                    "percentile_25": 88.0,
                    "percentile_50": 95.0,
                    "percentile_75": 98.0,
                    "percentile_90": 99.0
                  },
                  "reach_efficiency": {
                    "value": 0.85,
                    "percentile_25": 0.7,
                    "percentile_50": 0.85,
                    "percentile_75": 0.92,
                    "percentile_90": 0.97
                  }
                },
                "source": "CTV Advertising Benchmark Study 2026"
              },
              "linear_tv": {
                "channel_name": "Linear TV",
                "metrics": {
                  "cpm": {
                    "value": 18.0,
                    "percentile_25": 10.0,
                    "percentile_50": 18.0,
                    "percentile_75": 30.0,
                    "percentile_90": 50.0
                  },
                  "reach_percentage": {
                    "value": 45.0,
                    "percentile_25": 25.0,
                    "percentile_50": 45.0,
                    "percentile_75": 65.0,
                    "percentile_90": 80.0
                  }
                },
                "source": "Nielsen TV Benchmark Data 2026"
              }
            }
          },
          "metadata": {
            "operationMetadataId": "832ad841-a339-4e4e-a87f-79545c8a339e"
          },
          "runAfter": {
            "parse_input": [
              "Succeeded"
            ]
          }
        },
        "filter_channels": {
          "type": "Compose",
          "inputs": {
            "from": "@outputs('parse_input')?['channels']",
            "select": {
              "channel_id": "@item()",
              "benchmark_data": "@outputs('load_benchmarks')?['benchmark_data']?[item()]",
              "has_data": "@not(equals(outputs('load_benchmarks')?['benchmark_data']?[item()], null))"
            }
          },
          "metadata": {
            "operationMetadataId": "fc04a87e-43b5-4008-bc59-b262f8dc6c14"
          },
          "runAfter": {
            "load_benchmarks": [
              "Succeeded"
            ]
          }
        },
        "apply_industry_adjustment": {
          "type": "Compose",
          "inputs": {
            "industry": "@outputs('parse_input')?['industry']",
            "adjustments": {
              "e_commerce": {
                "cpm_multiplier": 1.1,
                "conversion_rate_multiplier": 1.3,
                "roas_multiplier": 1.2
              },
              "financial_services": {
                "cpm_multiplier": 1.5,
                "conversion_rate_multiplier": 0.7,
                "cpc_multiplier": 2.0
              },
              "healthcare": {
                "cpm_multiplier": 1.3,
                "ctr_multiplier": 0.8,
                "conversion_rate_multiplier": 0.6
              },
              "travel": {
                "cpm_multiplier": 0.9,
                "ctr_multiplier": 1.2,
                "roas_multiplier": 1.1
              },
              "automotive": {
                "cpm_multiplier": 1.4,
                "ctr_multiplier": 0.9,
                "conversion_rate_multiplier": 0.5
              },
              "technology": {
                "cpm_multiplier": 1.2,
                "ctr_multiplier": 1.1,
                "roas_multiplier": 1.3
              },
              "retail": {
                "cpm_multiplier": 1.0,
                "conversion_rate_multiplier": 1.2,
                "roas_multiplier": 1.1
              }
            }
          },
          "metadata": {
            "operationMetadataId": "848acba0-ef44-41b6-9b61-0309b01bfc35"
          },
          "runAfter": {
            "filter_channels": [
              "Succeeded"
            ]
          }
        },
        "build_response": {
          "type": "Compose",
          "inputs": {
            "request_id": "@outputs('parse_input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "CHA",
            "status": "success",
            "data": {
              "benchmarks": "@body('filter_channels')",
              "industry": "@outputs('parse_input')?['industry']",
              "industry_adjustments": "@outputs('apply_industry_adjustment')?['adjustments']?[outputs('parse_input')?['industry']]",
              "market": "@outputs('parse_input')?['market']",
              "benchmark_date": "2026-01",
              "data_freshness": "Monthly update"
            },
            "confidence": "HIGH",
            "sources": [
              "BENCHMARK_DATA",
              "AGENT_KB"
            ],
            "recommendations": [
              "Use median (50th percentile) for planning projections",
              "Target 75th percentile for optimized campaigns",
              "Benchmark against your own historical data when available"
            ],
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('parse_input')?['start_time'])), 10000)",
              "channels_requested": "@length(outputs('parse_input')?['channels'])",
              "channels_found": "@length(body('filter_channels'))"
            }
          },
          "metadata": {
            "operationMetadataId": "52b6ee3a-8afe-442e-afef-eb8741d98216"
          },
          "runAfter": {
            "apply_industry_adjustment": [
              "Succeeded"
            ]
          }
        },
        "return_response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@outputs('build_response')",
            "headers": {
              "Content-Type": "application/json"
            }
          },
          "metadata": {
            "operationMetadataId": "251fdae1-a2b5-4797-bc84-dff1cbaf1c86"
          },
          "runAfter": {}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}