release/v7.0/platform/flows/solution-ready/MPAUpdateProgress-8314DEFC-7608-4381-9E77-CE5F2E3780FA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_sharedcommondataserviceforapps_1d3b7"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "37434a79-3ca5-42bf-bc40-f8a4e36e72b8"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "required": [
                "session_id"
              ],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Session identifier to update"
                },
                "action": {
                  "type": "string",
                  "enum": [
                    "advance_step",
                    "complete_gate",
                    "set_step",
                    "update_plan_state"
                  ],
                  "description": "Type of progress update"
                },
                "target_step": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 10,
                  "description": "Target step (for set_step action)"
                },
                "plan_state_updates": {
                  "type": "object",
                  "description": "Partial plan state to merge"
                },
                "conversation_summary": {
                  "type": "string",
                  "description": "Updated conversation summary"
                }
              }
            },
            "triggerAuthenticationType": "Tenant"
          }
        }
      },
      "actions": {
        "parse_input": {
          "type": "Compose",
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "action": "@coalesce(triggerBody()?['action'], 'update_plan_state')",
            "target_step": "@triggerBody()?['target_step']",
            "plan_state_updates": "@triggerBody()?['plan_state_updates']",
            "conversation_summary": "@triggerBody()?['conversation_summary']",
            "request_timestamp": "@utcNow()"
          },
          "metadata": {
            "operationMetadataId": "078f2b45-c021-46c2-8784-8fd963cdf34c"
          },
          "runAfter": {}
        },
        "get_current_session": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {},
            "authentication": "@parameters('$authentication')"
          },
          "metadata": {
            "operationMetadataId": "483d0c82-4f80-49c8-a7b1-60491e0344de"
          },
          "runAfter": {
            "parse_input": [
              "Succeeded"
            ]
          }
        },
        "parse_current_state": {
          "type": "Compose",
          "inputs": {
            "current_step": "@body('get_current_session')?['eap_workflow_step']",
            "current_gate": "@body('get_current_session')?['eap_workflow_gate']",
            "current_plan_state": "@json(coalesce(body('get_current_session')?['eap_plan_state'], '{}'))",
            "session_type": "@body('get_current_session')?['eap_session_type']"
          },
          "metadata": {
            "operationMetadataId": "492d21a2-d9bb-453e-9a4a-80af1c1d033a"
          },
          "runAfter": {
            "get_current_session": [
              "Succeeded"
            ]
          }
        },
        "calculate_new_progress": {
          "type": "Compose",
          "inputs": {
            "new_step": "@if(equals(outputs('parse_input')?['action'], 'advance_step'), min(add(outputs('parse_current_state')?['current_step'], 1), 10), if(equals(outputs('parse_input')?['action'], 'set_step'), outputs('parse_input')?['target_step'], outputs('parse_current_state')?['current_step']))",
            "new_gate": "@if(lessOrEquals(variables('new_step'), 1), 0, if(lessOrEquals(variables('new_step'), 3), 1, if(lessOrEquals(variables('new_step'), 6), 2, if(lessOrEquals(variables('new_step'), 9), 3, 4))))",
            "gate_changed": "@not(equals(variables('new_gate'), outputs('parse_current_state')?['current_gate']))"
          },
          "metadata": {
            "operationMetadataId": "b850429f-c337-48b1-8601-64a076ed5790"
          },
          "runAfter": {
            "parse_current_state": [
              "Succeeded"
            ]
          }
        },
        "merge_plan_state": {
          "type": "Compose",
          "inputs": {
            "merged_plan_state": "@union(outputs('parse_current_state')?['current_plan_state'], coalesce(outputs('parse_input')?['plan_state_updates'], json('{}')))"
          },
          "metadata": {
            "operationMetadataId": "095fa332-4efd-4b5e-b106-b9ea72b24808"
          },
          "runAfter": {
            "calculate_new_progress": [
              "Succeeded"
            ]
          }
        },
        "build_update_payload": {
          "type": "Compose",
          "inputs": {
            "eap_workflow_step": "@outputs('calculate_new_progress')?['new_step']",
            "eap_workflow_gate": "@outputs('calculate_new_progress')?['new_gate']",
            "eap_plan_state": "@string(outputs('merge_plan_state')?['merged_plan_state'])",
            "eap_conversation_summary": "@coalesce(outputs('parse_input')?['conversation_summary'], body('get_current_session')?['eap_conversation_summary'])"
          },
          "metadata": {
            "operationMetadataId": "97765983-484b-4d67-bd43-d47065ce2d02"
          },
          "runAfter": {
            "merge_plan_state": [
              "Succeeded"
            ]
          }
        },
        "update_session": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {},
            "authentication": "@parameters('$authentication')"
          },
          "metadata": {
            "operationMetadataId": "4d8264af-998b-4f08-aaf7-d1d8d078867d"
          },
          "runAfter": {
            "build_update_payload": [
              "Succeeded"
            ]
          }
        },
        "log_session_event": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {},
            "authentication": "@parameters('$authentication')"
          },
          "metadata": {
            "operationMetadataId": "466c4ed9-8f5b-4d79-b20d-46a2b627919b"
          },
          "runAfter": {
            "update_session": [
              "Succeeded"
            ]
          }
        },
        "check_completion": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('calculate_new_progress')?['new_step']",
                  10
                ]
              }
            ]
          },
          "actions": {},
          "else": {
            "actions": {}
          },
          "metadata": {
            "operationMetadataId": "8cca995b-a326-43b9-a51a-2406ccfd06fe"
          },
          "runAfter": {
            "log_session_event": [
              "Succeeded"
            ]
          }
        },
        "log_completion": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {},
            "authentication": "@parameters('$authentication')"
          },
          "metadata": {
            "operationMetadataId": "7f80f859-4bf0-4d86-936d-17c828134594"
          },
          "runAfter": {
            "check_completion": [
              "Succeeded"
            ]
          }
        },
        "validate_gate3_execution": {
          "type": "Compose",
          "inputs": {
            "gate3_validation": {
              "channels_selected": "@not(empty(outputs('parse_current_state')?['current_plan_state']?['channels']))",
              "budget_allocated": "@and(not(empty(outputs('parse_current_state')?['current_plan_state']?['budget'])), greater(coalesce(outputs('parse_current_state')?['current_plan_state']?['budget']?['total_budget'], 0), 0))",
              "partners_identified": "@or(not(empty(outputs('parse_current_state')?['current_plan_state']?['partners'])), equals(outputs('parse_current_state')?['current_plan_state']?['supply_path_defined'], true))",
              "projections_complete": "@not(empty(outputs('parse_current_state')?['current_plan_state']?['anl_projections']))",
              "gate_status": "@if(and(variables('channels_selected'), variables('budget_allocated')), if(and(variables('partners_identified'), variables('projections_complete')), 'pass', 'partial'), 'fail')",
              "missing_requirements": "@createArray(if(not(variables('channels_selected')), 'No channels have been selected. Please complete channel strategy first.', null), if(not(variables('budget_allocated')), 'Budget has not been allocated. Please define budget distribution.', null), if(not(variables('partners_identified')), 'Supply path partners have not been identified. Consider running SPO analysis.', null), if(not(variables('projections_complete')), 'Projections have not been calculated. Run analytics before proceeding.', null))",
              "recommendations": "@createArray(if(not(variables('channels_selected')), 'Route to CHA agent for channel selection', null), if(not(variables('budget_allocated')), 'Define total budget and allocation percentages', null), if(not(variables('partners_identified')), 'Route to SPO agent for supply path optimization', null), if(not(variables('projections_complete')), 'Route to ANL agent for projections', null))"
            }
          },
          "metadata": {
            "operationMetadataId": "5ac8d27a-b62d-44da-98e9-7ea5d8e2e899"
          },
          "runAfter": {
            "check_completion": [
              "Succeeded"
            ]
          }
        },
        "build_response": {
          "type": "Compose",
          "inputs": {
            "success": true,
            "session_id": "@outputs('parse_input')?['session_id']",
            "action": "@outputs('parse_input')?['action']",
            "previous_state": {
              "step": "@outputs('parse_current_state')?['current_step']",
              "gate": "@outputs('parse_current_state')?['current_gate']"
            },
            "new_state": {
              "step": "@outputs('calculate_new_progress')?['new_step']",
              "gate": "@outputs('calculate_new_progress')?['new_gate']",
              "gate_name": "@if(equals(outputs('calculate_new_progress')?['new_gate'], 0), 'Initialization', if(equals(outputs('calculate_new_progress')?['new_gate'], 1), 'Foundation', if(equals(outputs('calculate_new_progress')?['new_gate'], 2), 'Strategy', if(equals(outputs('calculate_new_progress')?['new_gate'], 3), 'Execution', 'Documentation'))))"
            },
            "gate_changed": "@outputs('calculate_new_progress')?['gate_changed']",
            "gate3_validation": "@coalesce(outputs('validate_gate3_execution')?['gate3_validation'], null)",
            "workflow_complete": "@equals(outputs('calculate_new_progress')?['new_step'], 10)",
            "updated_at": "@utcNow()"
          },
          "metadata": {
            "operationMetadataId": "47a0b7c5-16ba-4d47-8c85-a4e22c5b7471"
          },
          "runAfter": {
            "log_session_event": [
              "Succeeded"
            ],
            "log_completion": [
              "Succeeded"
            ],
            "validate_gate3_execution": [
              "Succeeded"
            ]
          }
        },
        "return_response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@outputs('build_response')",
            "headers": {
              "Content-Type": "application/json"
            }
          },
          "metadata": {
            "operationMetadataId": "958efe89-d99a-4fd8-a19e-b97b21fa3295"
          },
          "runAfter": {}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}