release/v7.0/solutions/archive/agents/anl/Workflows/CalculateAllocation_v7.0.json
{
  "schemaVersion": "1.0.0.0",
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "connectionName": "shared-commondataserviceforapps",
        "source": "Invoker",
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "tier": "NotSpecified"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "required": ["session_id", "request_id", "total_budget"],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "total_budget": {
                  "type": "number",
                  "minimum": 0
                },
                "objectives": {
                  "type": "object",
                  "properties": {
                    "primary": {
                      "type": "string",
                      "enum": ["awareness", "consideration", "conversion", "retention"]
                    },
                    "kpis": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "constraints": {
                  "type": "object",
                  "properties": {
                    "channel_minimums": {
                      "type": "object"
                    },
                    "channel_maximums": {
                      "type": "object"
                    }
                  }
                },
                "historical_data": {
                  "type": "object"
                }
              }
            },
            "method": "POST"
          },
          "operationOptions": "EnableSchemaValidation"
        }
      },
      "actions": {
        "Parse_Input": {
          "type": "Compose",
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "total_budget": "@triggerBody()?['total_budget']",
            "objectives": "@coalesce(triggerBody()?['objectives'], json('{\"primary\": \"consideration\"}'))",
            "constraints": "@coalesce(triggerBody()?['constraints'], json('{}'))",
            "historical_data": "@triggerBody()?['historical_data']",
            "start_time": "@utcNow()"
          },
          "runAfter": {}
        },
        "Load_Channel_Benchmarks": {
          "type": "Compose",
          "inputs": {
            "benchmarks": {
              "meta_facebook": {
                "cpm": 12.50,
                "ctr": 0.009,
                "conversion_rate": 0.025,
                "awareness_score": 85,
                "consideration_score": 75,
                "conversion_score": 70
              },
              "google_search": {
                "cpc": 2.69,
                "ctr": 0.035,
                "conversion_rate": 0.044,
                "awareness_score": 30,
                "consideration_score": 85,
                "conversion_score": 95
              },
              "youtube": {
                "cpm": 9.50,
                "view_rate": 0.31,
                "cpv": 0.08,
                "awareness_score": 90,
                "consideration_score": 70,
                "conversion_score": 40
              },
              "programmatic_display": {
                "cpm": 4.20,
                "ctr": 0.001,
                "viewability": 0.68,
                "awareness_score": 75,
                "consideration_score": 50,
                "conversion_score": 35
              },
              "tiktok": {
                "cpm": 10.00,
                "ctr": 0.012,
                "conversion_rate": 0.018,
                "awareness_score": 88,
                "consideration_score": 60,
                "conversion_score": 45
              },
              "linkedin": {
                "cpm": 35.00,
                "ctr": 0.004,
                "conversion_rate": 0.032,
                "awareness_score": 60,
                "consideration_score": 80,
                "conversion_score": 65
              }
            }
          },
          "runAfter": {
            "Parse_Input": ["Succeeded"]
          }
        },
        "Determine_Objective_Weights": {
          "type": "Compose",
          "inputs": {
            "objective": "@outputs('Parse_Input')?['objectives']?['primary']",
            "weight_profiles": {
              "awareness": {
                "meta_facebook": 0.25,
                "youtube": 0.30,
                "tiktok": 0.20,
                "programmatic_display": 0.15,
                "google_search": 0.05,
                "linkedin": 0.05
              },
              "consideration": {
                "meta_facebook": 0.25,
                "google_search": 0.25,
                "youtube": 0.20,
                "linkedin": 0.15,
                "programmatic_display": 0.10,
                "tiktok": 0.05
              },
              "conversion": {
                "google_search": 0.40,
                "meta_facebook": 0.30,
                "linkedin": 0.15,
                "programmatic_display": 0.10,
                "youtube": 0.03,
                "tiktok": 0.02
              },
              "retention": {
                "meta_facebook": 0.35,
                "google_search": 0.25,
                "programmatic_display": 0.20,
                "linkedin": 0.10,
                "youtube": 0.05,
                "tiktok": 0.05
              }
            }
          },
          "runAfter": {
            "Load_Channel_Benchmarks": ["Succeeded"]
          }
        },
        "Calculate_Base_Allocation": {
          "type": "Compose",
          "inputs": {
            "total_budget": "@outputs('Parse_Input')?['total_budget']",
            "objective": "@outputs('Parse_Input')?['objectives']?['primary']",
            "base_allocations": {
              "meta_facebook": {
                "percentage": "@mul(outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['meta_facebook'], 100)",
                "amount": "@mul(outputs('Parse_Input')?['total_budget'], outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['meta_facebook'])"
              },
              "google_search": {
                "percentage": "@mul(outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['google_search'], 100)",
                "amount": "@mul(outputs('Parse_Input')?['total_budget'], outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['google_search'])"
              },
              "youtube": {
                "percentage": "@mul(outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['youtube'], 100)",
                "amount": "@mul(outputs('Parse_Input')?['total_budget'], outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['youtube'])"
              },
              "programmatic_display": {
                "percentage": "@mul(outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['programmatic_display'], 100)",
                "amount": "@mul(outputs('Parse_Input')?['total_budget'], outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['programmatic_display'])"
              },
              "tiktok": {
                "percentage": "@mul(outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['tiktok'], 100)",
                "amount": "@mul(outputs('Parse_Input')?['total_budget'], outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['tiktok'])"
              },
              "linkedin": {
                "percentage": "@mul(outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['linkedin'], 100)",
                "amount": "@mul(outputs('Parse_Input')?['total_budget'], outputs('Determine_Objective_Weights')?['weight_profiles']?[coalesce(outputs('Parse_Input')?['objectives']?['primary'], 'consideration')]?['linkedin'])"
              }
            }
          },
          "runAfter": {
            "Determine_Objective_Weights": ["Succeeded"]
          }
        },
        "Apply_Constraints": {
          "type": "Compose",
          "inputs": {
            "constraints_applied": true,
            "channel_minimums": "@coalesce(outputs('Parse_Input')?['constraints']?['channel_minimums'], json('{}'))",
            "channel_maximums": "@coalesce(outputs('Parse_Input')?['constraints']?['channel_maximums'], json('{}'))",
            "adjusted_allocations": "@outputs('Calculate_Base_Allocation')?['base_allocations']",
            "adjustments_made": []
          },
          "runAfter": {
            "Calculate_Base_Allocation": ["Succeeded"]
          }
        },
        "Generate_Allocation_Rationale": {
          "type": "Compose",
          "inputs": {
            "rationale": {
              "methodology": "Objective-weighted allocation with benchmark optimization",
              "primary_objective": "@outputs('Parse_Input')?['objectives']?['primary']",
              "key_drivers": [
                "Channel effectiveness scores aligned to campaign objective",
                "Historical performance benchmarks applied",
                "Budget constraints respected"
              ],
              "channel_rationales": {
                "meta_facebook": "Strong reach and engagement for consideration campaigns",
                "google_search": "High intent capture for conversion-focused goals",
                "youtube": "Video reach for awareness building",
                "programmatic_display": "Cost-effective awareness and retargeting",
                "tiktok": "Emerging channel for younger demographics",
                "linkedin": "B2B targeting and professional audiences"
              }
            }
          },
          "runAfter": {
            "Apply_Constraints": ["Succeeded"]
          }
        },
        "Build_Response": {
          "type": "Compose",
          "inputs": {
            "request_id": "@outputs('Parse_Input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "ANL",
            "status": "success",
            "data": {
              "allocation_summary": {
                "total_budget": "@outputs('Parse_Input')?['total_budget']",
                "objective": "@outputs('Parse_Input')?['objectives']?['primary']",
                "channels_allocated": 6
              },
              "channel_allocations": "@outputs('Apply_Constraints')?['adjusted_allocations']",
              "rationale": "@outputs('Generate_Allocation_Rationale')?['rationale']",
              "benchmarks_applied": "@outputs('Load_Channel_Benchmarks')?['benchmarks']"
            },
            "confidence": "HIGH",
            "sources": ["CALCULATION", "BENCHMARK_DATA", "AGENT_KB"],
            "recommendations": [
              "Monitor performance weekly and adjust allocations based on actual results",
              "Consider A/B testing allocation variants for optimization",
              "Review constraints quarterly to ensure flexibility"
            ],
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('Parse_Input')?['start_time'])), 10000)"
            }
          },
          "runAfter": {
            "Generate_Allocation_Rationale": ["Succeeded"]
          }
        },
        "Response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('Build_Response')"
          },
          "runAfter": {
            "Build_Response": ["Succeeded"]
          }
        }
      }
    }
  }
}
