archive/release-v5.5/flows/deployed/MediaPlanningAgentv52 2/Workflows/MPAInitializeSession-D0E70B38-DAE8-F011-8544-002248084B3A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_sharedcommondataserviceforapps_1d3b7"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "45aae388-cf17-4ed8-832d-4e6fda31840d"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "client_id": {
                  "type": "string",
                  "description": "GUID of the client"
                },
                "user_id": {
                  "type": "string",
                  "description": "GUID of the user"
                },
                "session_type": {
                  "type": "string",
                  "description": "MPA session type: Planning, InFlight, PostMortem, or Audit"
                },
                "context": {
                  "type": "object",
                  "description": "Additional context data for the session"
                }
              },
              "required": [
                "client_id",
                "user_id",
                "session_type"
              ]
            },
            "triggerAuthenticationType": "Tenant"
          }
        }
      },
      "actions": {
        "InitializeSessionCode": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "14964a07-ba7f-434b-bf40-c84a626de945"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "session_code",
                "type": "string",
                "value": "concat('SES-', formatDateTime(utcNow(), 'yyyyMMddHHmmss'))"
              }
            ]
          }
        },
        "BuildSessionData": {
          "runAfter": {
            "InitializeSessionCode": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2dd1542a-5896-45a3-9dab-5aeecae1c587"
          },
          "type": "Compose",
          "inputs": {
            "agent_type": "MEDIA_PLANNING_AGENT",
            "session_type": "@{triggerBody()?['session_type']}",
            "context": "@coalesce(triggerBody()?['context'], json('{}'))",
            "created_at": "@{utcNow()}",
            "version": "5.2"
          }
        },
        "CreateSession": {
          "runAfter": {
            "BuildSessionData": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2f01e711-62d5-40d4-8967-174fba421beb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "eap_sessions",
              "item/eap_agentcode": "MEDIA_PLANNING_AGENT",
              "item/eap_sessioncode": "@variables('session_code')",
              "item/eap_status": 200000000,
              "item/eap_clientid": "@triggerBody()?['client_id']",
              "item/eap_sessiondata": "@string(outputs('BuildSessionData'))",
              "item/eap_startedat": "@utcNow()",
              "item/eap_userid": "@triggerBody()?['user_id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "SuccessResponse": {
          "runAfter": {
            "CreateSession": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7b195ece-5444-4651-b9a3-104c89611256"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": {
              "status": "Success",
              "session_id": "@{outputs('CreateSession')?['body/eap_sessionid']}",
              "session_code": "@{variables('session_code')}",
              "session_type": "@{triggerBody()?['session_type']}",
              "agent_type": "MEDIA_PLANNING_AGENT",
              "message": "Session initialized successfully"
            },
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "session_id": {
                  "type": "string"
                },
                "session_code": {
                  "type": "string"
                },
                "session_type": {
                  "type": "string"
                },
                "agent_type": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}