release/v7.0/solutions/archive/agents/cha/Workflows/AnalyzeCompetitive_v7.0.json
{
  "schemaVersion": "1.0.0.0",
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "connectionName": "shared-commondataserviceforapps",
        "source": "Invoker",
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "tier": "NotSpecified"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "required": ["session_id", "request_id"],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "industry": {
                  "type": "string"
                },
                "competitors": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "analysis_type": {
                  "type": "string",
                  "enum": ["media_spend", "channel_mix", "share_of_voice", "messaging", "comprehensive"]
                },
                "time_period": {
                  "type": "string",
                  "enum": ["last_30_days", "last_90_days", "last_12_months"]
                }
              }
            },
            "method": "POST"
          },
          "operationOptions": "EnableSchemaValidation"
        }
      },
      "actions": {
        "Parse_Input": {
          "type": "Compose",
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "industry": "@coalesce(triggerBody()?['industry'], 'general')",
            "competitors": "@coalesce(triggerBody()?['competitors'], createArray('Competitor A', 'Competitor B', 'Competitor C'))",
            "analysis_type": "@coalesce(triggerBody()?['analysis_type'], 'comprehensive')",
            "time_period": "@coalesce(triggerBody()?['time_period'], 'last_90_days')",
            "start_time": "@utcNow()"
          },
          "runAfter": {}
        },
        "Load_Competitive_Data": {
          "type": "Compose",
          "inputs": {
            "competitive_landscape": {
              "your_brand": {
                "estimated_spend": 5000000,
                "share_of_voice": 22,
                "channel_mix": {
                  "paid_search": 30,
                  "paid_social": 25,
                  "display": 20,
                  "video": 15,
                  "other": 10
                },
                "top_channels": ["Google Search", "Meta", "YouTube"]
              },
              "competitor_a": {
                "estimated_spend": 7500000,
                "share_of_voice": 28,
                "channel_mix": {
                  "paid_search": 35,
                  "paid_social": 20,
                  "display": 25,
                  "video": 12,
                  "other": 8
                },
                "top_channels": ["Google Search", "Programmatic", "LinkedIn"]
              },
              "competitor_b": {
                "estimated_spend": 4200000,
                "share_of_voice": 18,
                "channel_mix": {
                  "paid_search": 25,
                  "paid_social": 35,
                  "display": 15,
                  "video": 20,
                  "other": 5
                },
                "top_channels": ["Meta", "TikTok", "YouTube"]
              },
              "competitor_c": {
                "estimated_spend": 3800000,
                "share_of_voice": 15,
                "channel_mix": {
                  "paid_search": 40,
                  "paid_social": 15,
                  "display": 30,
                  "video": 10,
                  "other": 5
                },
                "top_channels": ["Google Search", "Programmatic", "Display"]
              }
            }
          },
          "runAfter": {
            "Parse_Input": ["Succeeded"]
          }
        },
        "Analyze_Share_Of_Voice": {
          "type": "Compose",
          "inputs": {
            "sov_analysis": {
              "total_category_spend": 20500000,
              "your_sov_rank": 2,
              "sov_gap_to_leader": -6,
              "spend_to_match_leader": 1500000,
              "sov_trend": "stable",
              "category_growth_rate": 8.5
            },
            "sov_recommendations": [
              "Increase spend by 15% to close gap with market leader",
              "Focus incremental spend on high-performing channels",
              "Consider competitive conquesting campaigns"
            ]
          },
          "runAfter": {
            "Load_Competitive_Data": ["Succeeded"]
          }
        },
        "Analyze_Channel_Gaps": {
          "type": "Compose",
          "inputs": {
            "channel_gap_analysis": {
              "over_indexed": {
                "paid_social": {
                  "your_share": 25,
                  "competitor_avg": 23,
                  "gap": 2,
                  "recommendation": "Strong position - maintain investment"
                }
              },
              "under_indexed": {
                "display": {
                  "your_share": 20,
                  "competitor_avg": 23,
                  "gap": -3,
                  "recommendation": "Consider increasing display allocation"
                },
                "paid_search": {
                  "your_share": 30,
                  "competitor_avg": 33,
                  "gap": -3,
                  "recommendation": "Leader investing heavily - evaluate expansion"
                }
              },
              "white_space_opportunities": [
                {
                  "channel": "Connected TV",
                  "competitor_presence": "low",
                  "opportunity": "First-mover advantage available"
                },
                {
                  "channel": "Podcast Advertising",
                  "competitor_presence": "minimal",
                  "opportunity": "Emerging channel with low competition"
                }
              ]
            }
          },
          "runAfter": {
            "Analyze_Share_Of_Voice": ["Succeeded"]
          }
        },
        "Generate_Strategic_Recommendations": {
          "type": "Compose",
          "inputs": {
            "strategic_recommendations": {
              "immediate_actions": [
                "Increase paid search budget by 10% to defend share",
                "Launch CTV test campaign to establish presence",
                "Implement competitive monitoring dashboard"
              ],
              "medium_term_initiatives": [
                "Develop differentiated messaging strategy",
                "Build share in underrepresented channels",
                "Explore partnership opportunities"
              ],
              "defensive_priorities": [
                "Protect branded search terms",
                "Monitor competitor promotions",
                "Maintain social media presence"
              ]
            },
            "risk_assessment": {
              "threats": [
                "Leader has 50% more spend capacity",
                "Competitor B gaining share in social",
                "New entrant activity in market"
              ],
              "opportunities": [
                "CTV and podcast white space",
                "Competitor C reducing investment",
                "Market category growing 8.5%"
              ]
            }
          },
          "runAfter": {
            "Analyze_Channel_Gaps": ["Succeeded"]
          }
        },
        "Build_Response": {
          "type": "Compose",
          "inputs": {
            "request_id": "@outputs('Parse_Input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "CHA",
            "status": "success",
            "data": {
              "analysis_summary": {
                "industry": "@outputs('Parse_Input')?['industry']",
                "competitors_analyzed": "@length(outputs('Parse_Input')?['competitors'])",
                "analysis_type": "@outputs('Parse_Input')?['analysis_type']",
                "time_period": "@outputs('Parse_Input')?['time_period']"
              },
              "competitive_landscape": "@outputs('Load_Competitive_Data')?['competitive_landscape']",
              "share_of_voice": "@outputs('Analyze_Share_Of_Voice')?['sov_analysis']",
              "channel_gaps": "@outputs('Analyze_Channel_Gaps')?['channel_gap_analysis']",
              "strategic_recommendations": "@outputs('Generate_Strategic_Recommendations')?['strategic_recommendations']",
              "risk_assessment": "@outputs('Generate_Strategic_Recommendations')?['risk_assessment']"
            },
            "confidence": "MEDIUM",
            "sources": ["COMPETITIVE_INTEL", "INDUSTRY_DATA", "AGENT_KB"],
            "recommendations": "@outputs('Analyze_Share_Of_Voice')?['sov_recommendations']",
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('Parse_Input')?['start_time'])), 10000)"
            }
          },
          "runAfter": {
            "Generate_Strategic_Recommendations": ["Succeeded"]
          }
        },
        "Response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('Build_Response')"
          },
          "runAfter": {
            "Build_Response": ["Succeeded"]
          }
        }
      }
    }
  }
}
