release/v7.0/solutions/archive/agents/cha/Workflows/LookupBenchmarks_v7.0.json
{
  "schemaVersion": "1.0.0.0",
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "connectionName": "shared-commondataserviceforapps",
        "source": "Invoker",
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "tier": "NotSpecified"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "required": ["session_id", "request_id"],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "channel": {
                  "type": "string",
                  "enum": ["paid_search", "paid_social", "display", "video", "ctv", "audio", "native"]
                },
                "industry": {
                  "type": "string"
                },
                "metrics": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "percentile": {
                  "type": "string",
                  "enum": ["p25", "p50", "p75", "p90"]
                }
              }
            },
            "method": "POST"
          },
          "operationOptions": "EnableSchemaValidation"
        }
      },
      "actions": {
        "Parse_Input": {
          "type": "Compose",
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "channel": "@coalesce(triggerBody()?['channel'], 'paid_search')",
            "industry": "@coalesce(triggerBody()?['industry'], 'general')",
            "metrics": "@coalesce(triggerBody()?['metrics'], createArray('ctr', 'cpc', 'cpa', 'roas'))",
            "percentile": "@coalesce(triggerBody()?['percentile'], 'p50')",
            "start_time": "@utcNow()"
          },
          "runAfter": {}
        },
        "Load_Benchmark_Data": {
          "type": "Compose",
          "inputs": {
            "benchmarks": {
              "paid_search": {
                "ctr": { "p25": 0.025, "p50": 0.035, "p75": 0.048, "p90": 0.062 },
                "cpc": { "p25": 3.50, "p50": 2.69, "p75": 1.95, "p90": 1.40 },
                "cpa": { "p25": 95.00, "p50": 72.00, "p75": 52.00, "p90": 38.00 },
                "roas": { "p25": 2.20, "p50": 3.50, "p75": 5.00, "p90": 7.50 },
                "conversion_rate": { "p25": 0.028, "p50": 0.044, "p75": 0.062, "p90": 0.085 }
              },
              "paid_social": {
                "ctr": { "p25": 0.006, "p50": 0.009, "p75": 0.014, "p90": 0.022 },
                "cpm": { "p25": 15.00, "p50": 12.50, "p75": 9.80, "p90": 7.50 },
                "cpa": { "p25": 125.00, "p50": 85.00, "p75": 58.00, "p90": 42.00 },
                "roas": { "p25": 1.80, "p50": 2.80, "p75": 4.20, "p90": 6.00 },
                "engagement_rate": { "p25": 0.015, "p50": 0.025, "p75": 0.040, "p90": 0.065 }
              },
              "display": {
                "ctr": { "p25": 0.0005, "p50": 0.001, "p75": 0.002, "p90": 0.004 },
                "cpm": { "p25": 5.50, "p50": 4.20, "p75": 3.20, "p90": 2.40 },
                "viewability": { "p25": 0.52, "p50": 0.68, "p75": 0.78, "p90": 0.88 },
                "cpa": { "p25": 150.00, "p50": 110.00, "p75": 80.00, "p90": 55.00 }
              },
              "video": {
                "view_rate": { "p25": 0.22, "p50": 0.31, "p75": 0.42, "p90": 0.55 },
                "cpv": { "p25": 0.12, "p50": 0.08, "p75": 0.05, "p90": 0.03 },
                "cpm": { "p25": 12.00, "p50": 9.50, "p75": 7.20, "p90": 5.50 },
                "vcr": { "p25": 0.55, "p50": 0.72, "p75": 0.82, "p90": 0.90 }
              },
              "ctv": {
                "cpm": { "p25": 35.00, "p50": 28.00, "p75": 22.00, "p90": 18.00 },
                "vcr": { "p25": 0.85, "p50": 0.92, "p75": 0.96, "p90": 0.98 },
                "reach_efficiency": { "p25": 0.45, "p50": 0.60, "p75": 0.72, "p90": 0.82 }
              }
            },
            "industry_modifiers": {
              "retail": { "cpa_modifier": 0.85, "roas_modifier": 1.15 },
              "finance": { "cpa_modifier": 1.35, "roas_modifier": 0.90 },
              "technology": { "cpa_modifier": 1.10, "roas_modifier": 1.05 },
              "healthcare": { "cpa_modifier": 1.25, "roas_modifier": 0.95 },
              "general": { "cpa_modifier": 1.00, "roas_modifier": 1.00 }
            }
          },
          "runAfter": {
            "Parse_Input": ["Succeeded"]
          }
        },
        "Extract_Channel_Benchmarks": {
          "type": "Compose",
          "inputs": {
            "channel": "@outputs('Parse_Input')?['channel']",
            "percentile": "@outputs('Parse_Input')?['percentile']",
            "channel_benchmarks": "@outputs('Load_Benchmark_Data')?['benchmarks']?[outputs('Parse_Input')?['channel']]",
            "selected_percentile_values": {
              "metric_1": "@outputs('Load_Benchmark_Data')?['benchmarks']?[outputs('Parse_Input')?['channel']]?[outputs('Parse_Input')?['metrics']?[0]]?[outputs('Parse_Input')?['percentile']]",
              "metric_2": "@outputs('Load_Benchmark_Data')?['benchmarks']?[outputs('Parse_Input')?['channel']]?[outputs('Parse_Input')?['metrics']?[1]]?[outputs('Parse_Input')?['percentile']]",
              "metric_3": "@outputs('Load_Benchmark_Data')?['benchmarks']?[outputs('Parse_Input')?['channel']]?[outputs('Parse_Input')?['metrics']?[2]]?[outputs('Parse_Input')?['percentile']]"
            }
          },
          "runAfter": {
            "Load_Benchmark_Data": ["Succeeded"]
          }
        },
        "Apply_Industry_Modifiers": {
          "type": "Compose",
          "inputs": {
            "industry": "@outputs('Parse_Input')?['industry']",
            "modifiers": "@outputs('Load_Benchmark_Data')?['industry_modifiers']?[outputs('Parse_Input')?['industry']]",
            "adjusted_benchmarks": {
              "cpa_adjusted": true,
              "roas_adjusted": true,
              "modifier_applied": "@outputs('Load_Benchmark_Data')?['industry_modifiers']?[outputs('Parse_Input')?['industry']]"
            }
          },
          "runAfter": {
            "Extract_Channel_Benchmarks": ["Succeeded"]
          }
        },
        "Generate_Benchmark_Context": {
          "type": "Compose",
          "inputs": {
            "context": {
              "data_source": "Industry benchmark aggregation",
              "sample_size": "10,000+ campaigns",
              "data_freshness": "Updated quarterly",
              "methodology": "Cross-channel performance analysis"
            },
            "usage_guidance": [
              "Use P50 for realistic target setting",
              "Use P75+ for stretch goals",
              "Adjust expectations during learning periods",
              "Consider seasonality impacts"
            ]
          },
          "runAfter": {
            "Apply_Industry_Modifiers": ["Succeeded"]
          }
        },
        "Build_Response": {
          "type": "Compose",
          "inputs": {
            "request_id": "@outputs('Parse_Input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "CHA",
            "status": "success",
            "data": {
              "benchmark_request": {
                "channel": "@outputs('Parse_Input')?['channel']",
                "industry": "@outputs('Parse_Input')?['industry']",
                "percentile": "@outputs('Parse_Input')?['percentile']",
                "metrics_requested": "@outputs('Parse_Input')?['metrics']"
              },
              "channel_benchmarks": "@outputs('Extract_Channel_Benchmarks')?['channel_benchmarks']",
              "selected_values": "@outputs('Extract_Channel_Benchmarks')?['selected_percentile_values']",
              "industry_adjustments": "@outputs('Apply_Industry_Modifiers')",
              "context": "@outputs('Generate_Benchmark_Context')?['context']",
              "usage_guidance": "@outputs('Generate_Benchmark_Context')?['usage_guidance']"
            },
            "confidence": "HIGH",
            "sources": ["BENCHMARK_DATABASE", "INDUSTRY_DATA", "AGENT_KB"],
            "recommendations": [
              "Compare your performance against P50 as baseline",
              "Target P75 performance for competitive advantage",
              "Apply industry modifiers for accurate comparison"
            ],
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('Parse_Input')?['start_time'])), 10000)"
            }
          },
          "runAfter": {
            "Generate_Benchmark_Context": ["Succeeded"]
          }
        },
        "Response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('Build_Response')"
          },
          "runAfter": {
            "Build_Response": ["Succeeded"]
          }
        }
      }
    }
  }
}
