release/v7.0/solutions/archive/agents/spo/Workflows/AnalyzeFees_v7.0.json
{
  "schemaVersion": "1.0.0.0",
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "connectionName": "shared-commondataserviceforapps",
        "source": "Invoker",
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "tier": "NotSpecified"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "required": ["session_id", "request_id"],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "sponsorship_type": {
                  "type": "string",
                  "enum": ["sports", "entertainment", "media", "influencer", "event"]
                },
                "deal_value": {
                  "type": "number"
                },
                "deal_term_years": {
                  "type": "integer"
                },
                "fee_structure": {
                  "type": "object"
                }
              }
            },
            "method": "POST"
          },
          "operationOptions": "EnableSchemaValidation"
        }
      },
      "actions": {
        "Parse_Input": {
          "type": "Compose",
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "sponsorship_type": "@coalesce(triggerBody()?['sponsorship_type'], 'sports')",
            "deal_value": "@coalesce(triggerBody()?['deal_value'], 5000000)",
            "deal_term_years": "@coalesce(triggerBody()?['deal_term_years'], 3)",
            "fee_structure": "@coalesce(triggerBody()?['fee_structure'], json('{}'))",
            "start_time": "@utcNow()"
          },
          "runAfter": {}
        },
        "Load_Fee_Benchmarks": {
          "type": "Compose",
          "inputs": {
            "fee_benchmarks": {
              "sports": {
                "rights_fee_range": { "low": 0.60, "mid": 0.70, "high": 0.80 },
                "activation_ratio": { "low": 1.5, "mid": 2.0, "high": 3.0 },
                "agency_fee_range": { "low": 0.03, "mid": 0.05, "high": 0.08 },
                "typical_inclusions": ["signage", "hospitality", "digital_rights", "ip_usage"]
              },
              "entertainment": {
                "rights_fee_range": { "low": 0.50, "mid": 0.65, "high": 0.75 },
                "activation_ratio": { "low": 1.0, "mid": 1.5, "high": 2.5 },
                "agency_fee_range": { "low": 0.04, "mid": 0.06, "high": 0.10 },
                "typical_inclusions": ["branding", "content_rights", "talent_access", "experiential"]
              },
              "media": {
                "rights_fee_range": { "low": 0.55, "mid": 0.68, "high": 0.78 },
                "activation_ratio": { "low": 1.2, "mid": 1.8, "high": 2.5 },
                "agency_fee_range": { "low": 0.03, "mid": 0.05, "high": 0.07 },
                "typical_inclusions": ["media_inventory", "content_integration", "data_access", "cross_promotion"]
              },
              "influencer": {
                "rights_fee_range": { "low": 0.40, "mid": 0.55, "high": 0.70 },
                "activation_ratio": { "low": 0.5, "mid": 1.0, "high": 1.5 },
                "agency_fee_range": { "low": 0.10, "mid": 0.15, "high": 0.20 },
                "typical_inclusions": ["content_creation", "social_posts", "exclusivity", "usage_rights"]
              },
              "event": {
                "rights_fee_range": { "low": 0.65, "mid": 0.75, "high": 0.85 },
                "activation_ratio": { "low": 1.0, "mid": 1.5, "high": 2.0 },
                "agency_fee_range": { "low": 0.05, "mid": 0.07, "high": 0.10 },
                "typical_inclusions": ["title_rights", "on_site_activation", "category_exclusivity", "data_capture"]
              }
            }
          },
          "runAfter": {
            "Parse_Input": ["Succeeded"]
          }
        },
        "Calculate_Fee_Breakdown": {
          "type": "Compose",
          "inputs": {
            "fee_analysis": {
              "deal_summary": {
                "total_deal_value": "@outputs('Parse_Input')?['deal_value']",
                "term_years": "@outputs('Parse_Input')?['deal_term_years']",
                "annual_value": "@div(outputs('Parse_Input')?['deal_value'], outputs('Parse_Input')?['deal_term_years'])"
              },
              "fee_components": {
                "rights_fee": {
                  "estimated_percentage": 0.70,
                  "estimated_value": "@mul(outputs('Parse_Input')?['deal_value'], 0.70)",
                  "benchmark_status": "in_range",
                  "notes": "Rights fee is within expected range for sports sponsorship"
                },
                "activation_budget": {
                  "recommended_ratio": 2.0,
                  "recommended_value": "@mul(outputs('Parse_Input')?['deal_value'], 0.70, 2.0)",
                  "notes": "Industry standard is 2x rights fee for activation"
                },
                "agency_fees": {
                  "estimated_percentage": 0.05,
                  "estimated_value": "@mul(outputs('Parse_Input')?['deal_value'], 0.05)",
                  "notes": "Based on typical agency commission structure"
                },
                "production_costs": {
                  "estimated_percentage": 0.10,
                  "estimated_value": "@mul(outputs('Parse_Input')?['deal_value'], 0.10)",
                  "notes": "Includes creative production and asset development"
                }
              },
              "total_investment": {
                "rights_only": "@outputs('Parse_Input')?['deal_value']",
                "with_activation": "@add(outputs('Parse_Input')?['deal_value'], mul(outputs('Parse_Input')?['deal_value'], 0.70, 2.0))",
                "fully_loaded": "@add(outputs('Parse_Input')?['deal_value'], mul(outputs('Parse_Input')?['deal_value'], 0.70, 2.0), mul(outputs('Parse_Input')?['deal_value'], 0.15))"
              }
            }
          },
          "runAfter": {
            "Load_Fee_Benchmarks": ["Succeeded"]
          }
        },
        "Analyze_Fee_Efficiency": {
          "type": "Compose",
          "inputs": {
            "efficiency_analysis": {
              "cost_per_impression": {
                "estimated_impressions": 500000000,
                "cpm": "@div(outputs('Parse_Input')?['deal_value'], 500)",
                "benchmark_cpm": 8.50,
                "efficiency_rating": "favorable"
              },
              "cost_per_engagement": {
                "estimated_engagements": 15000000,
                "cpe": "@div(outputs('Parse_Input')?['deal_value'], 15000000)",
                "benchmark_cpe": 0.45,
                "efficiency_rating": "average"
              },
              "value_score": {
                "score": 72,
                "rating": "good",
                "factors": [
                  { "factor": "Rights scope", "score": 75 },
                  { "factor": "Exclusivity level", "score": 80 },
                  { "factor": "Asset quality", "score": 68 },
                  { "factor": "Term length", "score": 65 }
                ]
              }
            }
          },
          "runAfter": {
            "Calculate_Fee_Breakdown": ["Succeeded"]
          }
        },
        "Generate_Negotiation_Recommendations": {
          "type": "Compose",
          "inputs": {
            "negotiation_points": {
              "priority_items": [
                {
                  "item": "Activation inventory inclusion",
                  "rationale": "Reduce need for separate media buy",
                  "potential_value": 250000,
                  "difficulty": "medium"
                },
                {
                  "item": "Performance bonuses structure",
                  "rationale": "Tie portion of fee to measurable outcomes",
                  "potential_value": 150000,
                  "difficulty": "high"
                },
                {
                  "item": "Extended term discount",
                  "rationale": "5-year term typically yields 10-15% discount",
                  "potential_value": 500000,
                  "difficulty": "low"
                }
              ],
              "red_flags": [
                "No exclusivity protection in current proposal",
                "Limited digital rights compared to market standard",
                "Hospitality allocation below tier norm"
              ],
              "recommended_ask": {
                "target_reduction": 0.08,
                "enhanced_rights": ["expanded_digital", "data_sharing", "content_library"],
                "walk_away_threshold": "@mul(outputs('Parse_Input')?['deal_value'], 1.15)"
              }
            }
          },
          "runAfter": {
            "Analyze_Fee_Efficiency": ["Succeeded"]
          }
        },
        "Build_Response": {
          "type": "Compose",
          "inputs": {
            "request_id": "@outputs('Parse_Input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "SPO",
            "status": "success",
            "data": {
              "analysis_summary": {
                "sponsorship_type": "@outputs('Parse_Input')?['sponsorship_type']",
                "deal_value": "@outputs('Parse_Input')?['deal_value']",
                "term_years": "@outputs('Parse_Input')?['deal_term_years']"
              },
              "fee_benchmarks": "@outputs('Load_Fee_Benchmarks')?['fee_benchmarks']?[outputs('Parse_Input')?['sponsorship_type']]",
              "fee_analysis": "@outputs('Calculate_Fee_Breakdown')?['fee_analysis']",
              "efficiency_analysis": "@outputs('Analyze_Fee_Efficiency')?['efficiency_analysis']",
              "negotiation_recommendations": "@outputs('Generate_Negotiation_Recommendations')?['negotiation_points']"
            },
            "confidence": "HIGH",
            "sources": ["FEE_BENCHMARKS", "INDUSTRY_DATA", "AGENT_KB"],
            "recommendations": [
              "Negotiate for enhanced digital rights",
              "Push for activation inventory inclusion",
              "Consider longer term for volume discount"
            ],
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('Parse_Input')?['start_time'])), 10000)"
            }
          },
          "runAfter": {
            "Generate_Negotiation_Recommendations": ["Succeeded"]
          }
        },
        "Response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('Build_Response')"
          },
          "runAfter": {
            "Build_Response": ["Succeeded"]
          }
        }
      }
    }
  }
}
