release/v5.5/agents/mpa/base/flows/specifications/flow_11_MPA_ProcessMediaBrief.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "metadata": {
    "flowName": "MPA_ProcessMediaBrief",
    "flowNumber": "11",
    "displayName": "MPA - Process Media Brief",
    "description": "Process uploaded media brief document and extract key information",
    "version": "1.0.0",
    "author": "MPA Remediation",
    "createdDate": "2025-12-28",
    "tables": ["eap_session"],
    "azureFunctions": []
  },
  "trigger": {
    "type": "Request",
    "kind": "Http",
    "schema": {
      "type": "object",
      "properties": {
        "session_id": {"type": "string", "description": "Session ID"},
        "file_content": {"type": "string", "description": "Base64 encoded file content"},
        "file_name": {"type": "string", "description": "Original file name"},
        "file_type": {"type": "string", "description": "File MIME type"}
      },
      "required": ["session_id", "file_content"]
    }
  },
  "variables": [
    {"name": "varSuccess", "type": "Boolean", "value": true},
    {"name": "varErrorMessage", "type": "String", "value": ""},
    {"name": "varExtractedData", "type": "Object", "value": {}}
  ],
  "actions": {
    "Scope_Try": {
      "type": "Scope",
      "actions": {
        "Parse_File_Type": {
          "type": "Compose",
          "inputs": "@if(contains(toLower(coalesce(triggerBody()?['file_name'], '')), '.pdf'), 'pdf', if(contains(toLower(coalesce(triggerBody()?['file_name'], '')), '.doc'), 'word', 'text'))",
          "runAfter": {}
        },
        "Extract_Brief_Data": {
          "type": "Compose",
          "inputs": {
            "file_name": "@triggerBody()?['file_name']",
            "file_type": "@outputs('Parse_File_Type')",
            "file_size": "@length(triggerBody()?['file_content'])",
            "processed_at": "@utcNow()",
            "extraction_status": "pending_ai_processing"
          },
          "runAfter": {"Parse_File_Type": ["Succeeded"]}
        },
        "Update_Session_With_Brief": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {"connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},
            "parameters": {
              "entityName": "eap_sessions",
              "recordId": "@triggerBody()?['session_id']",
              "item": {
                "eap_sessiondata": "@string(outputs('Extract_Brief_Data'))"
              }
            }
          },
          "runAfter": {"Extract_Brief_Data": ["Succeeded"]}
        },
        "Response_Success": {
          "type": "Response",
          "inputs": {
            "statusCode": 200,
            "headers": {"Content-Type": "application/json"},
            "body": {
              "status": "Success",
              "session_id": "@triggerBody()?['session_id']",
              "file_name": "@triggerBody()?['file_name']",
              "file_type": "@outputs('Parse_File_Type')",
              "extracted_data": "@outputs('Extract_Brief_Data')",
              "message": "Media brief received and queued for processing",
              "processed_at": "@utcNow()"
            }
          },
          "runAfter": {"Update_Session_With_Brief": ["Succeeded"]}
        }
      }
    },
    "Scope_Catch": {
      "type": "Scope",
      "runAfter": {"Scope_Try": ["Failed", "TimedOut"]},
      "actions": {
        "Set_varSuccess_False": {"type": "SetVariable", "inputs": {"name": "varSuccess", "value": false}, "runAfter": {}},
        "Set_varErrorMessage": {"type": "SetVariable", "inputs": {"name": "varErrorMessage", "value": "@{result('Scope_Try')}"}, "runAfter": {"Set_varSuccess_False": ["Succeeded"]}},
        "Create_ErrorLog_Record": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {"connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},
            "parameters": {"entityName": "mpa_errorlogs", "item": {"mpa_error_type": "FlowError", "mpa_error_message": "@variables('varErrorMessage')", "mpa_source_flow": "MPA_ProcessMediaBrief", "mpa_severity": 100000002, "mpa_is_resolved": false, "mpa_occurred_at": "@utcNow()", "mpa_session_id": "@triggerBody()?['session_id']"}}
          },
          "runAfter": {"Set_varErrorMessage": ["Succeeded"]}
        },
        "Response_Error": {
          "type": "Response",
          "inputs": {"statusCode": 500, "headers": {"Content-Type": "application/json"}, "body": {"status": "Error", "message": "Failed to process media brief", "error_details": "@variables('varErrorMessage')"}},
          "runAfter": {"Create_ErrorLog_Record": ["Succeeded"]}
        }
      }
    }
  },
  "connectionReferences": {"shared_commondataserviceforapps": {"connectionName": "shared_commondataserviceforapps", "source": "Embedded", "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps", "tier": "Standard"}}
}
