release/v6.0/platform/flows/converted/AssessReadiness-FE19CBAE-2483-4987-975D-1614EABDF3A6.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "POST",
            "schema": {
              "type": "object",
              "required": [
                "session_id",
                "request_id",
                "change_description"
              ],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "change_description": {
                  "type": "string",
                  "description": "Description of the proposed change initiative"
                },
                "change_type": {
                  "type": "string",
                  "enum": [
                    "technology",
                    "process",
                    "organizational",
                    "cultural",
                    "strategic"
                  ],
                  "default": "technology"
                },
                "scope": {
                  "type": "string",
                  "enum": [
                    "department",
                    "division",
                    "enterprise"
                  ],
                  "default": "department"
                },
                "org_context": {
                  "type": "object",
                  "properties": {
                    "industry": {
                      "type": "string"
                    },
                    "company_size": {
                      "type": "string",
                      "enum": [
                        "small",
                        "medium",
                        "large",
                        "enterprise"
                      ]
                    },
                    "change_history": {
                      "type": "string",
                      "enum": [
                        "successful",
                        "mixed",
                        "challenging"
                      ]
                    },
                    "culture_type": {
                      "type": "string",
                      "enum": [
                        "innovative",
                        "traditional",
                        "hierarchical",
                        "collaborative"
                      ]
                    }
                  }
                },
                "timeline_weeks": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 104,
                  "default": 12
                }
              }
            }
          }
        }
      },
      "actions": {
        "parse_input": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "903DF915-5526-4A59-98C4-CD5CC7FA6B46"
          },
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "change_description": "@triggerBody()?['change_description']",
            "change_type": "@coalesce(triggerBody()?['change_type'], 'technology')",
            "scope": "@coalesce(triggerBody()?['scope'], 'department')",
            "org_context": "@triggerBody()?['org_context']",
            "timeline_weeks": "@coalesce(triggerBody()?['timeline_weeks'], 12)",
            "start_time": "@utcNow()"
          }
        },
        "assess_adkar": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "5714EB8A-F9EE-44DB-B120-8B13ED0005B5"
          },
          "inputs": {
            "framework": "ADKAR",
            "description": "Awareness, Desire, Knowledge, Ability, Reinforcement",
            "dimensions": {
              "awareness": {
                "score": 65,
                "status": "moderate",
                "indicators": [
                  "Leadership communication initiated",
                  "Business case documented",
                  "Initial town halls completed"
                ],
                "gaps": [
                  "Mid-level manager understanding varies",
                  "Frontline employees not fully aware"
                ],
                "recommendations": [
                  "Cascade communications through management layers",
                  "Develop FAQ document for common questions",
                  "Create visual timeline of change journey"
                ]
              },
              "desire": {
                "score": 55,
                "status": "developing",
                "indicators": [
                  "Executive sponsors identified",
                  "Early adopters emerging"
                ],
                "gaps": [
                  "WIIFM not clearly articulated for all groups",
                  "Resistance from key influencers"
                ],
                "recommendations": [
                  "Develop personalized value propositions by role",
                  "Identify and engage change champions",
                  "Address concerns through listening sessions"
                ]
              },
              "knowledge": {
                "score": 40,
                "status": "limited",
                "indicators": [
                  "Training curriculum drafted",
                  "Subject matter experts identified"
                ],
                "gaps": [
                  "Training not yet delivered",
                  "Documentation incomplete"
                ],
                "recommendations": [
                  "Accelerate training development",
                  "Create role-based learning paths",
                  "Develop quick reference guides"
                ]
              },
              "ability": {
                "score": 35,
                "status": "limited",
                "indicators": [
                  "Pilot group identified",
                  "Support model designed"
                ],
                "gaps": [
                  "Hands-on practice not available",
                  "Support resources not trained"
                ],
                "recommendations": [
                  "Establish sandbox environment for practice",
                  "Train support team before go-live",
                  "Create peer coaching network"
                ]
              },
              "reinforcement": {
                "score": 45,
                "status": "planned",
                "indicators": [
                  "Success metrics defined",
                  "Recognition program outlined"
                ],
                "gaps": [
                  "Sustainability plan incomplete",
                  "Feedback loops not established"
                ],
                "recommendations": [
                  "Implement regular check-ins post-launch",
                  "Create visible recognition program",
                  "Establish continuous improvement process"
                ]
              }
            }
          },
          "runAfter": {
            "parse_input": [
              "Succeeded"
            ]
          }
        },
        "calculate_readiness": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "0C5D7235-D536-472A-83FF-CD8F92112EB5"
          },
          "inputs": {
            "dimension_scores": {
              "awareness": "@outputs('assess_adkar')?['dimensions']?['awareness']?['score']",
              "desire": "@outputs('assess_adkar')?['dimensions']?['desire']?['score']",
              "knowledge": "@outputs('assess_adkar')?['dimensions']?['knowledge']?['score']",
              "ability": "@outputs('assess_adkar')?['dimensions']?['ability']?['score']",
              "reinforcement": "@outputs('assess_adkar')?['dimensions']?['reinforcement']?['score']"
            },
            "overall_score": 48,
            "readiness_level": "MODERATE_RISK",
            "readiness_interpretation": "Organization shows partial readiness. Significant gaps exist in Knowledge and Ability dimensions that require immediate attention before proceeding.",
            "readiness_scale": [
              {
                "level": "HIGH_READINESS",
                "range": "80-100",
                "description": "Proceed with confidence"
              },
              {
                "level": "GOOD_READINESS",
                "range": "65-79",
                "description": "Proceed with minor adjustments"
              },
              {
                "level": "MODERATE_RISK",
                "range": "50-64",
                "description": "Address gaps before proceeding"
              },
              {
                "level": "HIGH_RISK",
                "range": "35-49",
                "description": "Significant preparation needed"
              },
              {
                "level": "NOT_READY",
                "range": "0-34",
                "description": "Delay until fundamentals addressed"
              }
            ]
          },
          "runAfter": {
            "assess_adkar": [
              "Succeeded"
            ]
          }
        },
        "identify_strengths_gaps": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "E41CFFD8-851E-4294-B5C8-480D70BBB77E"
          },
          "inputs": {
            "strengths": [
              {
                "area": "Executive Sponsorship",
                "description": "Strong visible support from senior leadership",
                "leverage_opportunity": "Use sponsors to cascade messages and address resistance"
              },
              {
                "area": "Business Case",
                "description": "Clear articulation of why change is needed",
                "leverage_opportunity": "Reference in all communications to maintain urgency"
              },
              {
                "area": "Early Adopters",
                "description": "Enthusiastic group ready to champion change",
                "leverage_opportunity": "Engage as peer coaches and success story sources"
              }
            ],
            "critical_gaps": [
              {
                "area": "Training Readiness",
                "severity": "high",
                "impact": "Users will lack skills to perform in new environment",
                "remediation": "Fast-track training development and delivery",
                "timeline_weeks": 4
              },
              {
                "area": "Support Infrastructure",
                "severity": "high",
                "impact": "Users will lack resources when encountering issues",
                "remediation": "Train support team and establish help channels",
                "timeline_weeks": 3
              },
              {
                "area": "Middle Management Alignment",
                "severity": "medium",
                "impact": "Inconsistent messaging and resistance amplification",
                "remediation": "Conduct manager alignment sessions",
                "timeline_weeks": 2
              }
            ]
          },
          "runAfter": {
            "calculate_readiness": [
              "Succeeded"
            ]
          }
        },
        "assess_risks": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "A3450AE5-E340-4B48-81E1-2DBFE7B07D07"
          },
          "inputs": {
            "risk_factors": [
              {
                "factor": "Timeline Compression",
                "probability": "medium",
                "impact": "high",
                "mitigation": "Identify critical path items and prioritize"
              },
              {
                "factor": "Resource Constraints",
                "probability": "medium",
                "impact": "medium",
                "mitigation": "Secure dedicated change management resources"
              },
              {
                "factor": "Change Fatigue",
                "probability": "low",
                "impact": "medium",
                "mitigation": "Communicate change benefits clearly"
              },
              {
                "factor": "Technical Complexity",
                "probability": "medium",
                "impact": "high",
                "mitigation": "Increase training and support resources"
              }
            ],
            "overall_risk_rating": "MEDIUM",
            "risk_score": 62
          },
          "runAfter": {
            "identify_strengths_gaps": [
              "Succeeded"
            ]
          }
        },
        "build_recommendations": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "0C58382C-015B-4840-B0B9-C6F274C4EB97"
          },
          "inputs": {
            "immediate_actions": [
              {
                "priority": 1,
                "action": "Conduct manager alignment workshops",
                "owner": "Change Lead",
                "timeline": "Week 1-2",
                "success_criteria": "All managers can articulate change vision"
              },
              {
                "priority": 2,
                "action": "Accelerate training development",
                "owner": "Training Team",
                "timeline": "Week 1-4",
                "success_criteria": "Training materials ready for pilot"
              },
              {
                "priority": 3,
                "action": "Establish support infrastructure",
                "owner": "Support Lead",
                "timeline": "Week 2-4",
                "success_criteria": "Support team trained and channels active"
              }
            ],
            "recommended_timeline_adjustment": {
              "original_weeks": "@outputs('parse_input')?['timeline_weeks']",
              "recommended_weeks": 16,
              "rationale": "Additional 4 weeks needed to address Knowledge and Ability gaps"
            },
            "go_nogo_recommendation": "CONDITIONAL_GO",
            "conditions_for_go": [
              "Manager alignment sessions completed",
              "Training pilot successfully conducted",
              "Support infrastructure operational"
            ]
          },
          "runAfter": {
            "assess_risks": [
              "Succeeded"
            ]
          }
        },
        "build_response": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "23EEADAB-EE35-4921-A68A-46336D722026"
          },
          "inputs": {
            "request_id": "@outputs('parse_input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "CHG",
            "status": "success",
            "data": {
              "change_context": {
                "description": "@outputs('parse_input')?['change_description']",
                "type": "@outputs('parse_input')?['change_type']",
                "scope": "@outputs('parse_input')?['scope']",
                "timeline_weeks": "@outputs('parse_input')?['timeline_weeks']"
              },
              "readiness_assessment": {
                "overall_score": "@outputs('calculate_readiness')?['overall_score']",
                "readiness_level": "@outputs('calculate_readiness')?['readiness_level']",
                "interpretation": "@outputs('calculate_readiness')?['readiness_interpretation']"
              },
              "adkar_analysis": {
                "framework": "@outputs('assess_adkar')?['framework']",
                "dimensions": "@outputs('assess_adkar')?['dimensions']"
              },
              "strengths": "@outputs('identify_strengths_gaps')?['strengths']",
              "critical_gaps": "@outputs('identify_strengths_gaps')?['critical_gaps']",
              "risk_assessment": {
                "risk_factors": "@outputs('assess_risks')?['risk_factors']",
                "overall_rating": "@outputs('assess_risks')?['overall_risk_rating']",
                "risk_score": "@outputs('assess_risks')?['risk_score']"
              },
              "recommendations": {
                "immediate_actions": "@outputs('build_recommendations')?['immediate_actions']",
                "timeline_adjustment": "@outputs('build_recommendations')?['recommended_timeline_adjustment']",
                "go_nogo": "@outputs('build_recommendations')?['go_nogo_recommendation']",
                "conditions": "@outputs('build_recommendations')?['conditions_for_go']"
              }
            },
            "confidence": "HIGH",
            "sources": [
              "AGENT_KB",
              "ADKAR_FRAMEWORK",
              "CALCULATION"
            ],
            "follow_up_questions": [
              "Would you like to dive deeper into any specific ADKAR dimension?",
              "Should we map stakeholders for this change initiative?",
              "Do you want to create a detailed adoption plan?"
            ],
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('parse_input')?['start_time'])), 10000)"
            }
          },
          "runAfter": {
            "build_recommendations": [
              "Succeeded"
            ]
          }
        },
        "return_response": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "E4BF347B-6A84-4323-A472-E4D1776F03DC"
          },
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('build_response')"
          },
          "kind": "Http"
        },
        "return_error": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "64C2330D-5BBA-40C4-A462-1C5FF3A0D9EB"
          },
          "inputs": {
            "statusCode": 500,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "request_id": "@outputs('parse_input')?['request_id']",
              "source_agent": "CHG",
              "error": true,
              "code": "READINESS_ASSESSMENT_ERROR",
              "message": "Failed to assess change readiness"
            }
          },
          "kind": "Http",
          "operationOptions": "OnError"
        }
      }
    },
    "state": "Activated"
  },
  "schemaVersion": "1.0.0.0"
}