release/v7.0/platform/flows/converted/CalculateNBI-61F563EB-AA83-4403-BF70-F56CB22E33A5.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "POST",
            "schema": {
              "type": "object",
              "required": [
                "session_id",
                "request_id",
                "current_working_media",
                "projected_working_media",
                "current_performance",
                "projected_performance"
              ],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "current_working_media": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Current working media percentage"
                },
                "projected_working_media": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Projected working media percentage after change"
                },
                "current_performance": {
                  "type": "number",
                  "minimum": 0,
                  "description": "Current performance metric value"
                },
                "projected_performance": {
                  "type": "number",
                  "minimum": 0,
                  "description": "Projected performance metric after change"
                },
                "campaign_type": {
                  "type": "string",
                  "enum": [
                    "awareness",
                    "consideration",
                    "conversion"
                  ],
                  "default": "consideration"
                },
                "metric_type": {
                  "type": "string",
                  "enum": [
                    "ctr",
                    "cvr",
                    "cpm",
                    "roas",
                    "viewability"
                  ],
                  "default": "cvr"
                }
              }
            }
          }
        }
      },
      "actions": {
        "parse_input": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "921A69F8-ECBE-432B-9F2A-D701E41F89CA"
          },
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "current_working_media": "@triggerBody()?['current_working_media']",
            "projected_working_media": "@triggerBody()?['projected_working_media']",
            "current_performance": "@triggerBody()?['current_performance']",
            "projected_performance": "@triggerBody()?['projected_performance']",
            "campaign_type": "@coalesce(triggerBody()?['campaign_type'], 'consideration')",
            "metric_type": "@coalesce(triggerBody()?['metric_type'], 'cvr')",
            "start_time": "@utcNow()"
          }
        },
        "calculate_fee_savings": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "E9237922-C363-4DCC-A775-4E729DB5B8F3"
          },
          "inputs": {
            "fee_savings": "@sub(outputs('parse_input')?['projected_working_media'], outputs('parse_input')?['current_working_media'])",
            "fee_savings_absolute": "@if(greater(outputs('parse_input')?['projected_working_media'], outputs('parse_input')?['current_working_media']), sub(outputs('parse_input')?['projected_working_media'], outputs('parse_input')?['current_working_media']), 0)"
          },
          "runAfter": {
            "parse_input": [
              "Succeeded"
            ]
          }
        },
        "calculate_effectiveness_impact": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "02FEB115-7BAE-47DD-9E94-A3A6BAB4D4C3"
          },
          "inputs": {
            "performance_delta": "@sub(outputs('parse_input')?['current_performance'], outputs('parse_input')?['projected_performance'])",
            "effectiveness_loss_percent": "@if(equals(outputs('parse_input')?['current_performance'], 0), 0, mul(div(sub(outputs('parse_input')?['current_performance'], outputs('parse_input')?['projected_performance']), outputs('parse_input')?['current_performance']), 100))"
          },
          "runAfter": {
            "parse_input": [
              "Succeeded"
            ]
          }
        },
        "determine_weight": {
          "type": "Switch",
          "metadata": {
            "operationMetadataId": "879E74C1-278C-498B-B406-F54C6941DE29"
          },
          "runAfter": {
            "calculate_effectiveness_impact": [
              "Succeeded"
            ]
          }
        },
        "calculate_nbi": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "592D97A9-535B-4BE7-879A-8F738E5E4DEE"
          },
          "inputs": {
            "fee_savings": "@outputs('calculate_fee_savings')?['fee_savings']",
            "effectiveness_loss": "@outputs('calculate_effectiveness_impact')?['effectiveness_loss_percent']",
            "weight": "@coalesce(outputs('weight_awareness')?['weight'], outputs('weight_consideration')?['weight'], outputs('weight_conversion')?['weight'], outputs('weight_default')?['weight'])",
            "nbi": "@sub(outputs('calculate_fee_savings')?['fee_savings'], mul(outputs('calculate_effectiveness_impact')?['effectiveness_loss_percent'], coalesce(outputs('weight_awareness')?['weight'], outputs('weight_consideration')?['weight'], outputs('weight_conversion')?['weight'], outputs('weight_default')?['weight'])))"
          },
          "runAfter": {
            "determine_weight": [
              "Succeeded"
            ]
          }
        },
        "determine_recommendation": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "82380097-2AE2-4C70-B31D-E61B4C6656A8"
          },
          "inputs": {
            "nbi": "@outputs('calculate_nbi')?['nbi']",
            "recommendation": "@if(greater(outputs('calculate_nbi')?['nbi'], 15), 'STRONGLY_RECOMMEND', if(greater(outputs('calculate_nbi')?['nbi'], 8), 'RECOMMEND_WITH_MONITORING', if(greater(outputs('calculate_nbi')?['nbi'], 3), 'EVALUATE_CASE_BY_CASE', if(greater(outputs('calculate_nbi')?['nbi'], -3), 'NEUTRAL', 'NOT_RECOMMENDED'))))",
            "confidence": "@if(greater(outputs('calculate_nbi')?['nbi'], 15), 'HIGH', if(greater(outputs('calculate_nbi')?['nbi'], 8), 'MEDIUM', if(greater(outputs('calculate_nbi')?['nbi'], 3), 'LOW', 'MEDIUM')))",
            "action_guidance": {
              "STRONGLY_RECOMMEND": "Proceed with supply path change. Expected net positive impact.",
              "RECOMMEND_WITH_MONITORING": "Proceed with change. Implement monitoring for 2 weeks.",
              "EVALUATE_CASE_BY_CASE": "Review specific inventory sources before proceeding.",
              "NEUTRAL": "No clear benefit. Consider other optimization priorities.",
              "NOT_RECOMMENDED": "Do not proceed. Effectiveness loss outweighs fee savings."
            }
          },
          "runAfter": {
            "calculate_nbi": [
              "Succeeded"
            ]
          }
        },
        "generate_insights": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "492432A6-7E75-4447-87BF-DE0F55A88A37"
          },
          "inputs": {
            "primary_insight": "@if(greater(outputs('calculate_fee_savings')?['fee_savings'], 0), concat('Supply path change would improve working media by ', string(outputs('calculate_fee_savings')?['fee_savings']), ' percentage points'), 'Supply path change would not improve working media ratio')",
            "trade_off_insight": "@if(greater(outputs('calculate_effectiveness_impact')?['effectiveness_loss_percent'], 0), concat('Expected effectiveness reduction of ', string(outputs('calculate_effectiveness_impact')?['effectiveness_loss_percent']), '% must be weighed against fee savings'), 'No expected effectiveness loss - recommended to proceed')",
            "campaign_context": "@concat('For ', outputs('parse_input')?['campaign_type'], ' campaigns, effectiveness weight is ', string(outputs('calculate_nbi')?['weight']), 'x')"
          },
          "runAfter": {
            "determine_recommendation": [
              "Succeeded"
            ]
          }
        },
        "build_response": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "907C80C5-A7BC-4316-BF47-872509CB6916"
          },
          "inputs": {
            "request_id": "@outputs('parse_input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "SPO",
            "status": "success",
            "data": {
              "nbi": "@outputs('calculate_nbi')?['nbi']",
              "fee_savings_pct": "@outputs('calculate_fee_savings')?['fee_savings']",
              "effectiveness_loss_pct": "@outputs('calculate_effectiveness_impact')?['effectiveness_loss_percent']",
              "campaign_weight": "@outputs('calculate_nbi')?['weight']",
              "recommendation": "@outputs('determine_recommendation')?['recommendation']",
              "confidence": "@outputs('determine_recommendation')?['confidence']",
              "action_guidance": "@outputs('determine_recommendation')?['action_guidance']?[outputs('determine_recommendation')?['recommendation']]",
              "inputs_summary": {
                "current_working_media": "@outputs('parse_input')?['current_working_media']",
                "projected_working_media": "@outputs('parse_input')?['projected_working_media']",
                "current_performance": "@outputs('parse_input')?['current_performance']",
                "projected_performance": "@outputs('parse_input')?['projected_performance']",
                "campaign_type": "@outputs('parse_input')?['campaign_type']"
              },
              "insights": "@outputs('generate_insights')"
            },
            "confidence": "@outputs('determine_recommendation')?['confidence']",
            "sources": [
              "CALCULATION",
              "AGENT_KB"
            ],
            "recommendations": [
              "@outputs('determine_recommendation')?['action_guidance']?[outputs('determine_recommendation')?['recommendation']]",
              "Monitor quality metrics for 2 weeks post-implementation",
              "Document baseline metrics before making changes"
            ],
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('parse_input')?['start_time'])), 10000)",
              "nbi_formula": "NBI = Fee Savings - (Effectiveness Loss \u00d7 Campaign Weight)"
            }
          },
          "runAfter": {
            "generate_insights": [
              "Succeeded"
            ]
          }
        },
        "return_response": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "F03312D0-26C8-41B9-ABD7-EFF883752AF1"
          },
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('build_response')"
          },
          "kind": "Http"
        },
        "return_error": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "5B62916E-10B2-41A1-B5D6-00ED8DF24754"
          },
          "inputs": {
            "statusCode": 500,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "request_id": "@outputs('parse_input')?['request_id']",
              "source_agent": "SPO",
              "error": true,
              "code": "NBI_CALCULATION_ERROR",
              "message": "Failed to calculate Net Benefit Index"
            }
          },
          "kind": "Http",
          "operationOptions": "OnError"
        }
      }
    },
    "state": "Activated"
  },
  "schemaVersion": "1.0.0.0"
}