release/v7.0/platform/flows/converted/EvaluatePartner-9071E3E4-BC05-4A67-B4A8-06F336A33BD2.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "POST",
            "schema": {
              "type": "object",
              "required": [
                "session_id",
                "request_id",
                "partner_type"
              ],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "partner_name": {
                  "type": "string"
                },
                "partner_type": {
                  "type": "string",
                  "enum": [
                    "DSP",
                    "SSP",
                    "VERIFICATION",
                    "DATA"
                  ]
                },
                "fee_transparency": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10,
                  "description": "Clarity of fee structure (1-10)"
                },
                "supply_quality": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10,
                  "description": "Quality of inventory/data (1-10)"
                },
                "brand_safety": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10,
                  "description": "Brand safety capabilities (1-10)"
                },
                "fraud_prevention": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10,
                  "description": "Fraud detection/prevention (1-10)"
                },
                "support": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10,
                  "description": "Service and support quality (1-10)"
                },
                "integration_ease": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10,
                  "description": "Technical integration quality (1-10)"
                },
                "reporting": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10,
                  "description": "Reporting capabilities (1-10)"
                }
              }
            }
          }
        }
      },
      "actions": {
        "parse_input": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "CE08A721-D17A-42D9-9819-095B9882F3D6"
          },
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "partner_name": "@coalesce(triggerBody()?['partner_name'], 'Unnamed Partner')",
            "partner_type": "@triggerBody()?['partner_type']",
            "scores": {
              "fee_transparency": "@coalesce(triggerBody()?['fee_transparency'], 5)",
              "supply_quality": "@coalesce(triggerBody()?['supply_quality'], 5)",
              "brand_safety": "@coalesce(triggerBody()?['brand_safety'], 5)",
              "fraud_prevention": "@coalesce(triggerBody()?['fraud_prevention'], 5)",
              "support": "@coalesce(triggerBody()?['support'], 5)",
              "integration_ease": "@coalesce(triggerBody()?['integration_ease'], 5)",
              "reporting": "@coalesce(triggerBody()?['reporting'], 5)"
            },
            "start_time": "@utcNow()"
          }
        },
        "load_weights": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "1EA2FDB6-7E00-4C6C-9689-52675D96EE89"
          },
          "inputs": {
            "weights": {
              "DSP": {
                "fee_transparency": 0.2,
                "supply_quality": 0.2,
                "brand_safety": 0.15,
                "fraud_prevention": 0.15,
                "support": 0.1,
                "integration_ease": 0.1,
                "reporting": 0.1,
                "description": "DSPs weighted for fee clarity and supply quality"
              },
              "SSP": {
                "fee_transparency": 0.2,
                "supply_quality": 0.25,
                "brand_safety": 0.2,
                "fraud_prevention": 0.2,
                "support": 0.05,
                "integration_ease": 0.05,
                "reporting": 0.05,
                "description": "SSPs weighted for inventory quality and safety"
              },
              "VERIFICATION": {
                "fee_transparency": 0.1,
                "supply_quality": 0.25,
                "brand_safety": 0.25,
                "fraud_prevention": 0.2,
                "support": 0.05,
                "integration_ease": 0.1,
                "reporting": 0.05,
                "description": "Verification partners weighted for detection accuracy"
              },
              "DATA": {
                "fee_transparency": 0.15,
                "supply_quality": 0.3,
                "brand_safety": 0.1,
                "fraud_prevention": 0.2,
                "support": 0.1,
                "integration_ease": 0.1,
                "reporting": 0.05,
                "description": "Data partners weighted for data quality and freshness"
              }
            }
          },
          "runAfter": {
            "parse_input": [
              "Succeeded"
            ]
          }
        },
        "calculate_weighted_score": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "B4F5817B-2AE3-4DFA-AC15-5419EA851613"
          },
          "inputs": {
            "partner_type": "@outputs('parse_input')?['partner_type']",
            "weights": "@outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]",
            "weighted_components": {
              "fee_transparency": "@mul(outputs('parse_input')?['scores']?['fee_transparency'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['fee_transparency'])",
              "supply_quality": "@mul(outputs('parse_input')?['scores']?['supply_quality'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['supply_quality'])",
              "brand_safety": "@mul(outputs('parse_input')?['scores']?['brand_safety'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['brand_safety'])",
              "fraud_prevention": "@mul(outputs('parse_input')?['scores']?['fraud_prevention'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['fraud_prevention'])",
              "support": "@mul(outputs('parse_input')?['scores']?['support'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['support'])",
              "integration_ease": "@mul(outputs('parse_input')?['scores']?['integration_ease'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['integration_ease'])",
              "reporting": "@mul(outputs('parse_input')?['scores']?['reporting'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['reporting'])"
            },
            "total_weighted_score": "@add(add(add(add(add(add(mul(outputs('parse_input')?['scores']?['fee_transparency'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['fee_transparency']), mul(outputs('parse_input')?['scores']?['supply_quality'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['supply_quality'])), mul(outputs('parse_input')?['scores']?['brand_safety'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['brand_safety'])), mul(outputs('parse_input')?['scores']?['fraud_prevention'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['fraud_prevention'])), mul(outputs('parse_input')?['scores']?['support'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['support'])), mul(outputs('parse_input')?['scores']?['integration_ease'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['integration_ease'])), mul(outputs('parse_input')?['scores']?['reporting'], outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['reporting']))"
          },
          "runAfter": {
            "load_weights": [
              "Succeeded"
            ]
          }
        },
        "determine_tier": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "D4996E17-67C0-4A1A-AC45-A19CC7864FCE"
          },
          "inputs": {
            "weighted_score": "@outputs('calculate_weighted_score')?['total_weighted_score']",
            "tier": "@if(greaterOrEquals(outputs('calculate_weighted_score')?['total_weighted_score'], 9), 'TIER_1_EXCELLENT', if(greaterOrEquals(outputs('calculate_weighted_score')?['total_weighted_score'], 7.5), 'TIER_2_GOOD', if(greaterOrEquals(outputs('calculate_weighted_score')?['total_weighted_score'], 6), 'TIER_3_ADEQUATE', 'TIER_4_INSUFFICIENT')))",
            "tier_descriptions": {
              "TIER_1_EXCELLENT": "Primary partner - strategic relationship",
              "TIER_2_GOOD": "Secondary partner - tactical use",
              "TIER_3_ADEQUATE": "Specialized use cases only",
              "TIER_4_INSUFFICIENT": "Not recommended - consider alternatives"
            }
          },
          "runAfter": {
            "calculate_weighted_score": [
              "Succeeded"
            ]
          }
        },
        "analyze_criteria": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "C420A060-1DEB-4584-8143-78095CF09C13"
          },
          "inputs": {
            "scores": "@outputs('parse_input')?['scores']",
            "strengths": [],
            "weaknesses": [],
            "strength_threshold": 8,
            "weakness_threshold": 5,
            "criteria_analysis": {
              "fee_transparency": {
                "score": "@outputs('parse_input')?['scores']?['fee_transparency']",
                "is_strength": "@greaterOrEquals(outputs('parse_input')?['scores']?['fee_transparency'], 8)",
                "is_weakness": "@less(outputs('parse_input')?['scores']?['fee_transparency'], 5)"
              },
              "supply_quality": {
                "score": "@outputs('parse_input')?['scores']?['supply_quality']",
                "is_strength": "@greaterOrEquals(outputs('parse_input')?['scores']?['supply_quality'], 8)",
                "is_weakness": "@less(outputs('parse_input')?['scores']?['supply_quality'], 5)"
              },
              "brand_safety": {
                "score": "@outputs('parse_input')?['scores']?['brand_safety']",
                "is_strength": "@greaterOrEquals(outputs('parse_input')?['scores']?['brand_safety'], 8)",
                "is_weakness": "@less(outputs('parse_input')?['scores']?['brand_safety'], 5)"
              },
              "fraud_prevention": {
                "score": "@outputs('parse_input')?['scores']?['fraud_prevention']",
                "is_strength": "@greaterOrEquals(outputs('parse_input')?['scores']?['fraud_prevention'], 8)",
                "is_weakness": "@less(outputs('parse_input')?['scores']?['fraud_prevention'], 5)"
              },
              "support": {
                "score": "@outputs('parse_input')?['scores']?['support']",
                "is_strength": "@greaterOrEquals(outputs('parse_input')?['scores']?['support'], 8)",
                "is_weakness": "@less(outputs('parse_input')?['scores']?['support'], 5)"
              }
            }
          },
          "runAfter": {
            "determine_tier": [
              "Succeeded"
            ]
          }
        },
        "generate_recommendations": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "CE1A66CB-CC17-433E-AF52-19838DA32E22"
          },
          "inputs": {
            "tier": "@outputs('determine_tier')?['tier']",
            "recommendation": "@if(equals(outputs('determine_tier')?['tier'], 'TIER_1_EXCELLENT'), 'Prioritize as primary partner. Negotiate volume commitments.', if(equals(outputs('determine_tier')?['tier'], 'TIER_2_GOOD'), 'Use as secondary partner. Monitor performance quarterly.', if(equals(outputs('determine_tier')?['tier'], 'TIER_3_ADEQUATE'), 'Limit to specific use cases. Actively evaluate alternatives.', 'Not recommended. Transition to alternative partner.')))",
            "actions": {
              "TIER_1_EXCELLENT": [
                "Negotiate multi-year agreement for fee reduction",
                "Explore beta access to new features",
                "Schedule quarterly business reviews"
              ],
              "TIER_2_GOOD": [
                "Maintain as tactical option",
                "Compare fees against Tier 1 partners",
                "Review annually for tier promotion"
              ],
              "TIER_3_ADEQUATE": [
                "Use only where Tier 1/2 lack capability",
                "Document specific use cases",
                "Actively source alternatives"
              ],
              "TIER_4_INSUFFICIENT": [
                "Create transition plan to alternative",
                "Document deficiencies for procurement",
                "Set 90-day exit timeline"
              ]
            },
            "improvement_areas": "@if(less(outputs('parse_input')?['scores']?['fee_transparency'], 6), 'Fee transparency needs improvement', if(less(outputs('parse_input')?['scores']?['supply_quality'], 6), 'Supply quality below expectations', if(less(outputs('parse_input')?['scores']?['brand_safety'], 6), 'Brand safety capabilities insufficient', 'No critical improvement areas')))"
          },
          "runAfter": {
            "analyze_criteria": [
              "Succeeded"
            ]
          }
        },
        "build_response": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "C82EA034-185A-4A21-AC06-A420A45B5DC4"
          },
          "inputs": {
            "request_id": "@outputs('parse_input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "SPO",
            "status": "success",
            "data": {
              "partner_evaluation": {
                "partner_name": "@outputs('parse_input')?['partner_name']",
                "partner_type": "@outputs('parse_input')?['partner_type']",
                "weighted_score": "@outputs('calculate_weighted_score')?['total_weighted_score']",
                "tier": "@outputs('determine_tier')?['tier']",
                "tier_description": "@outputs('determine_tier')?['tier_descriptions']?[outputs('determine_tier')?['tier']]"
              },
              "scoring_detail": {
                "raw_scores": "@outputs('parse_input')?['scores']",
                "weighted_components": "@outputs('calculate_weighted_score')?['weighted_components']",
                "weight_methodology": "@outputs('load_weights')?['weights']?[outputs('parse_input')?['partner_type']]?['description']"
              },
              "analysis": {
                "criteria_breakdown": "@outputs('analyze_criteria')?['criteria_analysis']",
                "improvement_areas": "@outputs('generate_recommendations')?['improvement_areas']"
              },
              "recommendation": "@outputs('generate_recommendations')?['recommendation']",
              "recommended_actions": "@outputs('generate_recommendations')?['actions']?[outputs('determine_tier')?['tier']]"
            },
            "confidence": "@if(equals(outputs('determine_tier')?['tier'], 'TIER_1_EXCELLENT'), 'HIGH', if(equals(outputs('determine_tier')?['tier'], 'TIER_4_INSUFFICIENT'), 'HIGH', 'MEDIUM'))",
            "sources": [
              "CALCULATION",
              "AGENT_KB"
            ],
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('parse_input')?['start_time'])), 10000)",
              "evaluation_criteria_count": 7
            }
          },
          "runAfter": {
            "generate_recommendations": [
              "Succeeded"
            ]
          }
        },
        "return_response": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "18AFCDC0-9FC3-492E-ACCE-690EC66AB3D0"
          },
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('build_response')"
          },
          "kind": "Http"
        },
        "return_error": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "FFD5BB54-69CA-4A82-BDC5-CD071BE7F5D1"
          },
          "inputs": {
            "statusCode": 500,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "request_id": "@outputs('parse_input')?['request_id']",
              "source_agent": "SPO",
              "error": true,
              "code": "PARTNER_EVALUATION_ERROR",
              "message": "Failed to evaluate partner"
            }
          },
          "kind": "Http",
          "operationOptions": "OnError"
        }
      }
    },
    "state": "Activated"
  },
  "schemaVersion": "1.0.0.0"
}