release/v7.0/platform/flows/converted/PrioritizeInitiatives-807EE933-0F77-46F4-BAC1-8617F4B51C40.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "POST",
            "schema": {
              "type": "object",
              "required": [
                "session_id",
                "request_id",
                "items"
              ],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "request_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "weighted_criteria",
                    "ice",
                    "rice",
                    "value_effort"
                  ],
                  "default": "weighted_criteria"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "estimated_value": {
                        "type": "number"
                      },
                      "estimated_effort": {
                        "type": "number"
                      }
                    }
                  }
                },
                "criteria": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "criterion": {
                        "type": "string"
                      },
                      "weight": {
                        "type": "number"
                      }
                    }
                  }
                },
                "constraints": {
                  "type": "object",
                  "properties": {
                    "max_initiatives": {
                      "type": "integer"
                    },
                    "budget_limit": {
                      "type": "number"
                    },
                    "resource_limit": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "actions": {
        "parse_input": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "2BE577EB-693A-485C-BF29-7760763699F2"
          },
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "request_id": "@triggerBody()?['request_id']",
            "method": "@coalesce(triggerBody()?['method'], 'weighted_criteria')",
            "items": "@triggerBody()?['items']",
            "criteria": "@triggerBody()?['criteria']",
            "constraints": "@triggerBody()?['constraints']",
            "start_time": "@utcNow()"
          }
        },
        "route_method": {
          "type": "Switch",
          "metadata": {
            "operationMetadataId": "E9BA5889-AEBF-4979-BED2-05396A6365E8"
          },
          "runAfter": {
            "parse_input": [
              "Succeeded"
            ]
          }
        },
        "apply_constraints": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "E6A00571-A267-4D9F-B07B-172FFCDD337B"
          },
          "inputs": {
            "constraints_applied": {
              "max_initiatives": "@coalesce(outputs('parse_input')?['constraints']?['max_initiatives'], 5)",
              "budget_limit": "@outputs('parse_input')?['constraints']?['budget_limit']",
              "resource_limit": "@outputs('parse_input')?['constraints']?['resource_limit']"
            },
            "filtered_recommendations": {
              "tier_1_recommended": [
                {
                  "id": "INI002",
                  "name": "Customer Experience Enhancement",
                  "recommendation": "Execute immediately",
                  "rationale": "Highest risk-adjusted return"
                },
                {
                  "id": "INI001",
                  "name": "Digital Platform Modernization",
                  "recommendation": "Execute in parallel",
                  "rationale": "Critical enabler for other initiatives"
                }
              ],
              "tier_2_recommended": [
                {
                  "id": "INI004",
                  "name": "Operational Efficiency Program",
                  "recommendation": "Start after Tier 1 progress",
                  "rationale": "Good value, low complexity"
                }
              ],
              "tier_3_defer": [
                {
                  "id": "INI003",
                  "name": "Market Expansion - Region A",
                  "recommendation": "Defer pending market validation",
                  "rationale": "High effort, uncertain return"
                },
                {
                  "id": "INI005",
                  "name": "New Product Development",
                  "recommendation": "Reconsider scope or approach",
                  "rationale": "Current plan has unfavorable effort-value ratio"
                }
              ]
            }
          },
          "runAfter": {
            "route_method": [
              "Succeeded"
            ]
          }
        },
        "generate_roadmap": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "AFCF41E6-A44E-4A19-9EC3-F0230E8D7DF6"
          },
          "inputs": {
            "suggested_roadmap": {
              "q1": {
                "focus": "Foundation and Quick Wins",
                "initiatives": [
                  {
                    "name": "Customer Experience Enhancement",
                    "allocation": 40
                  },
                  {
                    "name": "Digital Platform Modernization - Phase 1",
                    "allocation": 60
                  }
                ]
              },
              "q2": {
                "focus": "Continued Development",
                "initiatives": [
                  {
                    "name": "Digital Platform Modernization - Phase 2",
                    "allocation": 50
                  },
                  {
                    "name": "Operational Efficiency Program",
                    "allocation": 50
                  }
                ]
              },
              "q3": {
                "focus": "Expansion Preparation",
                "initiatives": [
                  {
                    "name": "Digital Platform Modernization - Phase 3",
                    "allocation": 30
                  },
                  {
                    "name": "Operational Efficiency Program",
                    "allocation": 40
                  },
                  {
                    "name": "Market Expansion - Planning",
                    "allocation": 30
                  }
                ]
              },
              "q4": {
                "focus": "Scale and Launch",
                "initiatives": [
                  {
                    "name": "Market Expansion - Region A - Execution",
                    "allocation": 60
                  },
                  {
                    "name": "Optimization and Refinement",
                    "allocation": 40
                  }
                ]
              }
            },
            "resource_requirements": {
              "total_fte": 25,
              "peak_fte": 30,
              "estimated_investment": 5000000
            }
          },
          "runAfter": {
            "apply_constraints": [
              "Succeeded"
            ]
          }
        },
        "build_response": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "E62758FA-0DD4-4751-A1F2-75D5E19DC0BC"
          },
          "inputs": {
            "request_id": "@outputs('parse_input')?['request_id']",
            "timestamp": "@utcNow()",
            "source_agent": "CST",
            "status": "success",
            "data": {
              "method_used": "@outputs('parse_input')?['method']",
              "items_evaluated": "@length(outputs('parse_input')?['items'])",
              "scoring_results": "@coalesce(outputs('apply_weighted_criteria'), outputs('apply_ice'), outputs('apply_rice'), outputs('apply_value_effort'), outputs('default_method'))",
              "prioritized_tiers": "@outputs('apply_constraints')?['filtered_recommendations']",
              "suggested_roadmap": "@outputs('generate_roadmap')?['suggested_roadmap']",
              "resource_summary": "@outputs('generate_roadmap')?['resource_requirements']"
            },
            "confidence": "HIGH",
            "sources": [
              "AGENT_KB",
              "CALCULATION",
              "INPUT_DATA"
            ],
            "recommendations": [
              "Focus resources on Tier 1 initiatives for maximum impact",
              "Use quick wins to build momentum and stakeholder confidence",
              "Revisit Tier 3 items after completing initial phases"
            ],
            "follow_up_questions": [
              "Would you like to apply a different prioritization method?",
              "Should we develop detailed project plans for top initiatives?",
              "Do you want to conduct a strategic framework analysis?"
            ],
            "metadata": {
              "processing_time_ms": "@div(sub(ticks(utcNow()), ticks(outputs('parse_input')?['start_time'])), 10000)"
            }
          },
          "runAfter": {
            "generate_roadmap": [
              "Succeeded"
            ]
          }
        },
        "return_response": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "3CA2F43D-4D44-45A6-A320-2BA60BDD9B23"
          },
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('build_response')"
          },
          "kind": "Http"
        },
        "return_error": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "14E296E3-E1CA-4067-A642-69CCEF254020"
          },
          "inputs": {
            "statusCode": 500,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "request_id": "@outputs('parse_input')?['request_id']",
              "source_agent": "CST",
              "error": true,
              "code": "PRIORITIZATION_ERROR",
              "message": "Failed to prioritize initiatives"
            }
          },
          "kind": "Http",
          "operationOptions": "OnError"
        }
      }
    },
    "state": "Activated"
  },
  "schemaVersion": "1.0.0.0"
}