release/v7.0/platform/flows/converted/UpdateProgress-3888A901-6F93-4659-9E8D-561AB6EBC3D8.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "POST",
            "schema": {
              "type": "object",
              "required": [
                "session_id"
              ],
              "properties": {
                "session_id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Session identifier to update"
                },
                "action": {
                  "type": "string",
                  "enum": [
                    "advance_step",
                    "complete_gate",
                    "set_step",
                    "update_plan_state"
                  ],
                  "description": "Type of progress update"
                },
                "target_step": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 10,
                  "description": "Target step (for set_step action)"
                },
                "plan_state_updates": {
                  "type": "object",
                  "description": "Partial plan state to merge"
                },
                "conversation_summary": {
                  "type": "string",
                  "description": "Updated conversation summary"
                }
              }
            }
          }
        }
      },
      "actions": {
        "parse_input": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "B46B3703-011E-4FA8-994E-11E0B772EA5B"
          },
          "inputs": {
            "session_id": "@triggerBody()?['session_id']",
            "action": "@coalesce(triggerBody()?['action'], 'update_plan_state')",
            "target_step": "@triggerBody()?['target_step']",
            "plan_state_updates": "@triggerBody()?['plan_state_updates']",
            "conversation_summary": "@triggerBody()?['conversation_summary']",
            "request_timestamp": "@utcNow()"
          }
        },
        "get_current_session": {
          "type": "HTTP",
          "metadata": {
            "operationMetadataId": "9DE92691-1208-4ECF-84E7-86C8B993E7AE"
          },
          "inputs": {
            "method": "GET",
            "uri": "@{variables('EAP_DATAVERSE_URL')}/api/data/v9.2/eap_sessions(@{outputs('parse_input')?['session_id']})",
            "headers": {
              "Authorization": "Bearer @{body('Get_Access_Token')?['access_token']}",
              "Content-Type": "application/json"
            }
          },
          "runAfter": {
            "parse_input": [
              "Succeeded"
            ]
          }
        },
        "parse_current_state": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "B45894AB-BBA3-44A7-95B5-7E04E9205EBF"
          },
          "inputs": {
            "current_step": "@body('get_current_session')?['eap_workflow_step']",
            "current_gate": "@body('get_current_session')?['eap_workflow_gate']",
            "current_plan_state": "@json(coalesce(body('get_current_session')?['eap_plan_state'], '{}'))",
            "session_type": "@body('get_current_session')?['eap_session_type']"
          },
          "runAfter": {
            "get_current_session": [
              "Succeeded"
            ]
          }
        },
        "calculate_new_progress": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "DA7B2C5A-9E12-4F9F-AF2F-17F56C61F0F6"
          },
          "inputs": {
            "new_step": "@if(equals(outputs('parse_input')?['action'], 'advance_step'), min(add(outputs('parse_current_state')?['current_step'], 1), 10), if(equals(outputs('parse_input')?['action'], 'set_step'), outputs('parse_input')?['target_step'], outputs('parse_current_state')?['current_step']))",
            "new_gate": "@if(lessOrEquals(variables('new_step'), 1), 0, if(lessOrEquals(variables('new_step'), 3), 1, if(lessOrEquals(variables('new_step'), 6), 2, if(lessOrEquals(variables('new_step'), 9), 3, 4))))",
            "gate_changed": "@not(equals(variables('new_gate'), outputs('parse_current_state')?['current_gate']))"
          },
          "runAfter": {
            "parse_current_state": [
              "Succeeded"
            ]
          }
        },
        "merge_plan_state": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "080F2E25-7ADE-4B58-8498-71D87773FF1A"
          },
          "inputs": {
            "merged_plan_state": "@union(outputs('parse_current_state')?['current_plan_state'], coalesce(outputs('parse_input')?['plan_state_updates'], json('{}')))"
          },
          "runAfter": {
            "calculate_new_progress": [
              "Succeeded"
            ]
          }
        },
        "build_update_payload": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "2B2BBF6F-7F93-4A4A-9F77-F80BA66189C4"
          },
          "inputs": {
            "eap_workflow_step": "@outputs('calculate_new_progress')?['new_step']",
            "eap_workflow_gate": "@outputs('calculate_new_progress')?['new_gate']",
            "eap_plan_state": "@string(outputs('merge_plan_state')?['merged_plan_state'])",
            "eap_conversation_summary": "@coalesce(outputs('parse_input')?['conversation_summary'], body('get_current_session')?['eap_conversation_summary'])"
          },
          "runAfter": {
            "merge_plan_state": [
              "Succeeded"
            ]
          }
        },
        "update_session": {
          "type": "HTTP",
          "metadata": {
            "operationMetadataId": "5FC6967C-92AD-498A-AABD-B19A08B1D0F5"
          },
          "inputs": {
            "method": "PATCH",
            "uri": "@{variables('EAP_DATAVERSE_URL')}/api/data/v9.2/eap_sessions(@{outputs('parse_input')?['session_id']})",
            "headers": {
              "Authorization": "Bearer @{body('Get_Access_Token')?['access_token']}",
              "Content-Type": "application/json"
            },
            "body": "@outputs('build_update_payload')"
          },
          "runAfter": {
            "build_update_payload": [
              "Succeeded"
            ]
          }
        },
        "log_session_event": {
          "type": "HTTP",
          "metadata": {
            "operationMetadataId": "D83D05D4-CD74-4F16-A794-4A0BBE73EE14"
          },
          "inputs": {
            "method": "POST",
            "uri": "@{variables('EAP_DATAVERSE_URL')}/api/data/v9.2/eap_session_logs",
            "headers": {
              "Authorization": "Bearer @{body('Get_Access_Token')?['access_token']}",
              "Content-Type": "application/json"
            },
            "body": {
              "eap_entry_id": "@guid()",
              "eap_session_id": "@outputs('parse_input')?['session_id']",
              "eap_event_type": "@if(outputs('calculate_new_progress')?['gate_changed'], 'gate_passed', 'step_advanced')",
              "eap_workflow_step": "@outputs('calculate_new_progress')?['new_step']",
              "eap_workflow_gate": "@outputs('calculate_new_progress')?['new_gate']",
              "eap_details": "@string(createArray('action', outputs('parse_input')?['action'], 'from_step', outputs('parse_current_state')?['current_step'], 'to_step', outputs('calculate_new_progress')?['new_step']))"
            }
          },
          "runAfter": {
            "update_session": [
              "Succeeded"
            ]
          }
        },
        "check_completion": {
          "type": "Condition",
          "metadata": {
            "operationMetadataId": "B60B0708-C637-466B-B088-9E6FE3F4CB92"
          },
          "expression": {
            "equals": [
              "@outputs('calculate_new_progress')?['new_step']",
              10
            ]
          },
          "actions": {},
          "runAfter": {
            "log_session_event": [
              "Succeeded"
            ]
          }
        },
        "log_completion": {
          "type": "HTTP",
          "metadata": {
            "operationMetadataId": "6A7B2829-77D6-4558-B07A-A584C619180E"
          },
          "inputs": {
            "method": "POST",
            "uri": "@{variables('EAP_DATAVERSE_URL')}/api/data/v9.2/eap_session_logs",
            "headers": {
              "Authorization": "Bearer @{body('Get_Access_Token')?['access_token']}",
              "Content-Type": "application/json"
            },
            "body": {
              "eap_entry_id": "@guid()",
              "eap_session_id": "@outputs('parse_input')?['session_id']",
              "eap_event_type": "completed",
              "eap_workflow_step": 10,
              "eap_workflow_gate": 4
            }
          },
          "runAfter": {
            "check_completion": [
              "Succeeded"
            ]
          },
          "operationOptions": "condition"
        },
        "validate_gate3_execution": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "5909B62B-6822-45ED-AFA2-CDE08C01B8E8"
          },
          "inputs": {
            "gate3_validation": {
              "channels_selected": "@not(empty(outputs('parse_current_state')?['current_plan_state']?['channels']))",
              "budget_allocated": "@and(not(empty(outputs('parse_current_state')?['current_plan_state']?['budget'])), greater(coalesce(outputs('parse_current_state')?['current_plan_state']?['budget']?['total_budget'], 0), 0))",
              "partners_identified": "@or(not(empty(outputs('parse_current_state')?['current_plan_state']?['partners'])), equals(outputs('parse_current_state')?['current_plan_state']?['supply_path_defined'], true))",
              "projections_complete": "@not(empty(outputs('parse_current_state')?['current_plan_state']?['anl_projections']))",
              "gate_status": "@if(and(variables('channels_selected'), variables('budget_allocated')), if(and(variables('partners_identified'), variables('projections_complete')), 'pass', 'partial'), 'fail')",
              "missing_requirements": "@createArray(if(not(variables('channels_selected')), 'No channels have been selected. Please complete channel strategy first.', null), if(not(variables('budget_allocated')), 'Budget has not been allocated. Please define budget distribution.', null), if(not(variables('partners_identified')), 'Supply path partners have not been identified. Consider running SPO analysis.', null), if(not(variables('projections_complete')), 'Projections have not been calculated. Run analytics before proceeding.', null))",
              "recommendations": "@createArray(if(not(variables('channels_selected')), 'Route to CHA agent for channel selection', null), if(not(variables('budget_allocated')), 'Define total budget and allocation percentages', null), if(not(variables('partners_identified')), 'Route to SPO agent for supply path optimization', null), if(not(variables('projections_complete')), 'Route to ANL agent for projections', null))"
            }
          },
          "runAfter": {
            "check_completion": [
              "Succeeded"
            ]
          },
          "operationOptions": "condition"
        },
        "build_response": {
          "type": "Compose",
          "metadata": {
            "operationMetadataId": "AD25C5DA-ADC7-4064-9805-5385DD491882"
          },
          "inputs": {
            "success": true,
            "session_id": "@outputs('parse_input')?['session_id']",
            "action": "@outputs('parse_input')?['action']",
            "previous_state": {
              "step": "@outputs('parse_current_state')?['current_step']",
              "gate": "@outputs('parse_current_state')?['current_gate']"
            },
            "new_state": {
              "step": "@outputs('calculate_new_progress')?['new_step']",
              "gate": "@outputs('calculate_new_progress')?['new_gate']",
              "gate_name": "@if(equals(outputs('calculate_new_progress')?['new_gate'], 0), 'Initialization', if(equals(outputs('calculate_new_progress')?['new_gate'], 1), 'Foundation', if(equals(outputs('calculate_new_progress')?['new_gate'], 2), 'Strategy', if(equals(outputs('calculate_new_progress')?['new_gate'], 3), 'Execution', 'Documentation'))))"
            },
            "gate_changed": "@outputs('calculate_new_progress')?['gate_changed']",
            "gate3_validation": "@coalesce(outputs('validate_gate3_execution')?['gate3_validation'], null)",
            "workflow_complete": "@equals(outputs('calculate_new_progress')?['new_step'], 10)",
            "updated_at": "@utcNow()"
          },
          "runAfter": {
            "log_session_event": [
              "Succeeded"
            ],
            "log_completion": [
              "Succeeded"
            ],
            "validate_gate3_execution": [
              "Succeeded"
            ]
          }
        },
        "return_response": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "573D9195-FD41-4231-8A8C-D1A928E8201E"
          },
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('build_response')"
          },
          "kind": "Http"
        },
        "return_error": {
          "type": "Response",
          "metadata": {
            "operationMetadataId": "92B80A1B-C983-4277-B5E1-E05800055B4B"
          },
          "inputs": {
            "statusCode": 500,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "success": false,
              "error": true,
              "code": "UPDATE_FAILED",
              "message": "Failed to update session progress",
              "session_id": "@outputs('parse_input')?['session_id']"
            }
          },
          "kind": "Http",
          "operationOptions": "OnError"
        }
      }
    },
    "state": "Activated"
  },
  "schemaVersion": "1.0.0.0"
}